/* Commen Styles */
/* line 4, ../sass/main.scss */
* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/main.scss */
.container:before, .row:before, .header-section .logo-header:before, .body-section .tab .tab-content .content:before, .body-section .products-all:before, .body-section .related-products:before, .container:after, .row:after, .header-section .logo-header:after, .body-section .tab .tab-content .content:after, .body-section .products-all:after, .body-section .related-products:after {
  content: " ";
  display: table;
}
/* line 16, ../sass/main.scss */
.container:after, .row:after, .header-section .logo-header:after, .body-section .tab .tab-content .content:after, .body-section .products-all:after, .body-section .related-products:after {
  clear: both;
}
/* line 20, ../sass/main.scss */
.container, .row, .header-section .logo-header, .body-section .tab .tab-content .content, .body-section .products-all, .body-section .related-products {
  *zoom: 1;
}

@font-face {
  font-family: 'tfarrow-medium';
  src: url("../../fonts/ufonts.com_tfarrow-medium/ufonts.com_tfarrow-medium.eot");
  src: url("../../fonts/ufonts.com_tfarrow-medium/ufonts.com_tfarrow-medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/ufonts.com_tfarrow-medium/ufonts.com_tfarrow-medium.woff") format("woff"), url("../../fonts/ufonts.com_tfarrow-medium/ufonts.com_tfarrow-medium.ttf") format("truetype"), url("../../fonts/ufonts.com_tfarrow-medium/ufonts.com_tfarrow-medium.svg#roboto-regular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'roboto-regular';
  src: url("../../fonts/roboto-regular/Roboto-Regular-webfont.eot");
  src: url("../../fonts/roboto-regular/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-regular/Roboto-Regular-webfont.woff") format("woff"), url("../../fonts/roboto-regular/Roboto-Regular-webfont.ttf") format("truetype"), url("../../fonts/roboto-regular/Roboto-Regular-webfont.svg#roboto-regular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'roboto-bold';
  src: url("../../fonts/roboto-Bold/Roboto-Bold-webfont.eot");
  src: url("../../fonts/roboto-Bold/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-Bold/Roboto-Bold-webfont.woff") format("woff"), url("../../fonts/roboto-Bold/Roboto-Bold-webfont.ttf") format("truetype"), url("../../fonts/roboto-Bold/Roboto-Bold-webfont.svg#roboto-bold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'diavlobook-regular';
  src: url("../../fonts/diavlobook-regular/DiavloBook-Regular.eot");
  src: url("../../fonts/diavlobook-regular/DiavloBook-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/diavlobook-regular/DiavloBook-Regular.woff") format("woff"), url("../../fonts/diavlobook-regular/DiavloBook-Regular.ttf") format("truetype"), url("../../fonts/diavlobook-regular/DiavloBook-Regular.svg#diavlobook-regular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'myriadpro-regular';
  src: url("../../fonts/myriadpro-regular/myriadpro-regular.eot");
  src: url("../../fonts/myriadpro-regular/myriadpro-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/myriadpro-regular/myriadpro-regular.woff") format("woff"), url("../../fonts/myriadpro-regular/myriadpro-regular.ttf") format("truetype"), url("../../fonts/myriadpro-regular/myriadpro-regular.svg#myriadpro-regular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* line 99, ../sass/main.scss */
html, body {
  width: 100%;
  font-size: 15px;
  line-height: 1.25;
}

/* line 107, ../sass/main.scss */
.container {
  max-width: 1202px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 2;
}
/* line 115, ../sass/main.scss */
.container.container-full {
  max-width: 100%;
}
@media (min-width: 768px) {
  /* line 107, ../sass/main.scss */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 992px) {
  /* line 107, ../sass/main.scss */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* line 107, ../sass/main.scss */
  .container {
    max-width: 1202px;
  }
}

/* line 135, ../sass/main.scss */
.row {
  margin: 0 -15px;
}

/* line 140, ../sass/main.scss */
[class*='col-'] {
  width: 100%;
  min-height: 1px;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 152, ../sass/main.scss */
.col-1 {
  width: 8.33333%;
}

/* line 152, ../sass/main.scss */
.col-2 {
  width: 16.66667%;
}

/* line 152, ../sass/main.scss */
.col-3 {
  width: 25%;
}

/* line 152, ../sass/main.scss */
.col-4 {
  width: 33.33333%;
}

/* line 152, ../sass/main.scss */
.col-5 {
  width: 41.66667%;
}

/* line 152, ../sass/main.scss */
.col-6 {
  width: 50%;
}

/* line 152, ../sass/main.scss */
.col-7 {
  width: 58.33333%;
}

/* line 152, ../sass/main.scss */
.col-8 {
  width: 66.66667%;
}

/* line 152, ../sass/main.scss */
.col-9 {
  width: 75%;
}

/* line 152, ../sass/main.scss */
.col-10 {
  width: 83.33333%;
}

/* line 152, ../sass/main.scss */
.col-11 {
  width: 91.66667%;
}

/* line 152, ../sass/main.scss */
.col-12 {
  width: 100%;
}

@media (max-width: 992px) {
  /* line 163, ../sass/main.scss */
  .col-tb-1 {
    width: 8.33333%;
  }

  /* line 163, ../sass/main.scss */
  .col-tb-2 {
    width: 16.66667%;
  }

  /* line 163, ../sass/main.scss */
  .col-tb-3 {
    width: 25%;
  }

  /* line 163, ../sass/main.scss */
  .col-tb-4 {
    width: 33.33333%;
  }

  /* line 163, ../sass/main.scss */
  .col-tb-5 {
    width: 41.66667%;
  }

  /* line 163, ../sass/main.scss */
  .col-tb-6 {
    width: 50%;
  }

  /* line 163, ../sass/main.scss */
  .col-tb-7 {
    width: 58.33333%;
  }

  /* line 163, ../sass/main.scss */
  .col-tb-8 {
    width: 66.66667%;
  }

  /* line 163, ../sass/main.scss */
  .col-tb-9 {
    width: 75%;
  }

  /* line 163, ../sass/main.scss */
  .col-tb-10 {
    width: 83.33333%;
  }

  /* line 163, ../sass/main.scss */
  .col-tb-11 {
    width: 91.66667%;
  }

  /* line 163, ../sass/main.scss */
  .col-tb-12 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 175, ../sass/main.scss */
  .col-mb-1 {
    width: 8.33333%;
  }

  /* line 175, ../sass/main.scss */
  .col-mb-2 {
    width: 16.66667%;
  }

  /* line 175, ../sass/main.scss */
  .col-mb-3 {
    width: 25%;
  }

  /* line 175, ../sass/main.scss */
  .col-mb-4 {
    width: 33.33333%;
  }

  /* line 175, ../sass/main.scss */
  .col-mb-5 {
    width: 41.66667%;
  }

  /* line 175, ../sass/main.scss */
  .col-mb-6 {
    width: 50%;
  }

  /* line 175, ../sass/main.scss */
  .col-mb-7 {
    width: 58.33333%;
  }

  /* line 175, ../sass/main.scss */
  .col-mb-8 {
    width: 66.66667%;
  }

  /* line 175, ../sass/main.scss */
  .col-mb-9 {
    width: 75%;
  }

  /* line 175, ../sass/main.scss */
  .col-mb-10 {
    width: 83.33333%;
  }

  /* line 175, ../sass/main.scss */
  .col-mb-11 {
    width: 91.66667%;
  }

  /* line 175, ../sass/main.scss */
  .col-mb-12 {
    width: 100%;
  }
}
/* line 183, ../sass/main.scss */
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  height: 100vh;
}

/* line 190, ../sass/main.scss */
.header-section {
  width: 100%;
  position: relative;
  z-index: 10000;
}
/* line 195, ../sass/main.scss */
.header-section .logo-header {
  background-color: #fff;
  height: 123px;
}
@media (max-width: 768px) {
  /* line 195, ../sass/main.scss */
  .header-section .logo-header {
    height: 68px;
  }
}
/* line 206, ../sass/main.scss */
.header-section .logo-header .logo-cols {
  width: 100%;
  float: left;
}
/* line 210, ../sass/main.scss */
.header-section .logo-header .logo-cols .logo {
  display: inline-block;
  padding: 15px 0 0 0;
}
@media (max-width: 768px) {
  /* line 210, ../sass/main.scss */
  .header-section .logo-header .logo-cols .logo {
    padding: 10px 0 0;
  }
}
/* line 217, ../sass/main.scss */
.header-section .logo-header .logo-cols .logo img {
  width: 100%;
}
@media (max-width: 768px) {
  /* line 217, ../sass/main.scss */
  .header-section .logo-header .logo-cols .logo img {
    width: 64%;
  }
}
/* line 226, ../sass/main.scss */
.header-section .logo-header .contact-cols {
  width: 70%;
  float: right;
  text-align: right;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  /* line 226, ../sass/main.scss */
  .header-section .logo-header .contact-cols {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 226, ../sass/main.scss */
  .header-section .logo-header .contact-cols {
    display: none;
  }
}
/* line 238, ../sass/main.scss */
.header-section .logo-header .contact-cols ul {
  border-bottom: 1px solid #959595;
  padding: 13px 0px;
  width: 82%;
  float: right;
}
/* line 243, ../sass/main.scss */
.header-section .logo-header .contact-cols ul li {
  display: inline-block;
  color: #347ba9;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  padding-left: 24px;
  position: relative;
  margin-left: 15px;
}
@media (max-width: 768px) {
  /* line 243, ../sass/main.scss */
  .header-section .logo-header .contact-cols ul li {
    display: inline;
  }
}
/* line 258, ../sass/main.scss */
.header-section .logo-header .contact-cols ul li strong {
  color: #00a8ff;
}
/* line 262, ../sass/main.scss */
.header-section .logo-header .contact-cols ul li i.contact-icon {
  position: absolute;
  margin-top: -7px;
  top: 50%;
  left: 0;
  height: 15px;
  width: 16px;
  background-image: url("../../img/icons/contact-icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/contact-icons.svg");
}
/* line 272, ../sass/main.scss */
.header-section .logo-header .contact-cols ul li i.contact-icon.phone {
  background-position: 0 -15px;
}
/* line 275, ../sass/main.scss */
.header-section .logo-header .contact-cols ul li i.contact-icon.fax {
  background-position: 0 0;
}
/* line 279, ../sass/main.scss */
.header-section .logo-header .contact-cols ul li i.socail {
  width: 20px;
  height: 17px;
  display: inline-block;
  background-image: url("../../img/icons/social-icons_h.png");
  margin-right: 20px;
}
/* line 287, ../sass/main.scss */
.header-section .logo-header .contact-cols ul li i.socail.fb {
  background-position: 0 -18px;
  height: 18px;
}
/* line 294, ../sass/main.scss */
.header-section .logo-header .contact-cols ul li i.socail.google {
  background-position: 0 19px;
  height: 19px;
  width: 19px;
}
/* line 307, ../sass/main.scss */
.header-section .nav-header {
  width: 100%;
  display: block;
  float: right;
}
@media (max-width: 768px) {
  /* line 307, ../sass/main.scss */
  .header-section .nav-header {
    display: none;
  }
}
/* line 320, ../sass/main.scss */
.header-section .nav-header .navigation ul {
  text-align: right;
  line-height: 28px;
}
/* line 323, ../sass/main.scss */
.header-section .nav-header .navigation ul li {
  display: inline-block;
  margin-right: 9px;
  position: relative;
}
/* line 327, ../sass/main.scss */
.header-section .nav-header .navigation ul li a {
  display: block;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'myriadpro-regular';
  -moz-transition: all 450ms ease;
  -o-transition: all 450ms ease;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}
@media (max-width: 883px) {
  /* line 327, ../sass/main.scss */
  .header-section .nav-header .navigation ul li a {
    font-size: 15px;
  }
}
/* line 341, ../sass/main.scss */
.header-section .nav-header .navigation ul li:hover a {
  color: #3499db;
}
/* line 344, ../sass/main.scss */
.header-section .nav-header .navigation ul li:hover ul.submenu {
  display: block;
}
/* line 351, ../sass/main.scss */
.header-section .nav-header .navigation ul li.active a {
  color: #3499db;
  position: relative;
}
@media (max-width: 768px) {
  /* line 356, ../sass/main.scss */
  .header-section .nav-header .navigation ul li.active a:after {
    content: "";
    width: 3px;
    height: 20px;
    background-color: #939393;
    display: block;
    position: absolute;
    right: -17px;
    top: 5px;
  }
}
/* line 373, ../sass/main.scss */
.header-section .nav-header .navigation ul li ul.submenu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  line-height: initial;
  padding: 5px 15px;
  background-color: #ffffff;
  -moz-box-shadow: rgba(0, 0, 0, 0.22) 0 0 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.22) 0 0 16px;
  box-shadow: rgba(0, 0, 0, 0.22) 0 0 16px;
}
/* line 382, ../sass/main.scss */
.header-section .nav-header .navigation ul li ul.submenu li {
  display: block;
}
/* line 384, ../sass/main.scss */
.header-section .nav-header .navigation ul li ul.submenu li a {
  padding: 4px 16px;
  white-space: nowrap;
}

/* line 400, ../sass/main.scss */
.cover-section {
  position: relative;
}
/* line 404, ../sass/main.scss */
.cover-section .tp-rightarrow {
  background-image: url("../../img/slider/arrow-right.png") !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/slider/arrow-right.svg") !important;
  right: 0px !important;
  width: 57px !important;
}
/* line 412, ../sass/main.scss */
.cover-section .tp-leftarrow {
  background-image: url("../../img/slider/arrow-left.png") !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/slider/arrow-left.svg") !important;
  left: 0px !important;
  width: 57px !important;
}
/* line 420, ../sass/main.scss */
.cover-section .h1slider {
  font-family: 'tfarrow-medium';
  font-size: 48px;
  color: #181818;
}
@media (max-width: 768px) {
  /* line 420, ../sass/main.scss */
  .cover-section .h1slider {
    font-size: 34px !important;
  }
}
@media (max-width: 1200px) {
  /* line 420, ../sass/main.scss */
  .cover-section .h1slider {
    left: 5% !important;
    font-size: 34px !important;
  }
}
@media (max-width: 400px) {
  /* line 420, ../sass/main.scss */
  .cover-section .h1slider {
    text-align: center;
    top: 72%;
    position: absolute;
    margin: 0 auto;
    left: 0px !important;
    right: 0px !important;
    color: #181818;
  }
}
/* line 448, ../sass/main.scss */
.cover-section .sliderp {
  font-family: 'tfarrow-medium';
  font-size: 15px;
  white-space: normal !important;
  text-align: justify;
  width: 600px;
  color: #4c4c4c;
}
@media (max-width: 1200px) {
  /* line 448, ../sass/main.scss */
  .cover-section .sliderp {
    left: 5% !important;
    font-size: 15px !important;
  }
}
@media (max-width: 768px) {
  /* line 448, ../sass/main.scss */
  .cover-section .sliderp {
    font-size: 15px !important;
    line-height: 1.3em !important;
  }
}
@media (max-width: 400px) {
  /* line 448, ../sass/main.scss */
  .cover-section .sliderp {
    max-width: 300px;
    margin: 0 auto;
    top: 90%;
    position: absolute;
    margin: 0 auto;
    left: 0px !important;
    right: 0px !important;
    color: #4c4c4c;
  }
}
/* line 481, ../sass/main.scss */
.cover-section .buttonslider {
  width: 150px;
  background-color: #1376e3;
  padding: 15px 1px !important;
  color: #fff;
  text-align: center;
  overflow: hidden;
  transition: all 450ms ease;
}
/* line 490, ../sass/main.scss */
.cover-section .buttonslider:before {
  font-family: FontAwesome;
  content: "\f178";
  position: absolute;
  top: 17px;
  left: -22px;
  transition: all 450ms ease;
}
/* line 498, ../sass/main.scss */
.cover-section .buttonslider:hover:before {
  left: 120px;
}
/* line 502, ../sass/main.scss */
.cover-section .buttonslider a {
  color: #fff;
  font-family: 'PT Sans',sans-serif;
  font-weight: 700;
  transition: 450ms;
}
@media (max-width: 1200px) {
  /* line 481, ../sass/main.scss */
  .cover-section .buttonslider {
    left: 5% !important;
    font-size: 15px !important;
  }
}
@media (max-width: 768px) {
  /* line 481, ../sass/main.scss */
  .cover-section .buttonslider {
    font-size: 15px !important;
    line-height: 1.3em !important;
    margin-top: 20px !important;
  }
}
@media (max-width: 600px) {
  /* line 481, ../sass/main.scss */
  .cover-section .buttonslider {
    margin-top: 30px !important;
    padding: 10px 1px !important;
  }
}
@media (max-width: 400px) {
  /* line 481, ../sass/main.scss */
  .cover-section .buttonslider {
    left: 3% !important;
    margin-top: 33px !important;
    padding: 10px 1px !important;
  }
}

/* line 541, ../sass/main.scss */
.searchboxContainer {
  position: absolute;
  z-index: 100000;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* line 550, ../sass/main.scss */
.Searchbox {
  background: url("../../img/shape.png");
  width: 100%;
  height: 136px;
  background-repeat: no-repeat;
  position: relative;
  background-color: #fff;
  bottom: 27px;
  transition: all 300ms ease;
}
@media (max-width: 1200px) {
  /* line 550, ../sass/main.scss */
  .Searchbox {
    background-position: -54px;
  }
}
@media (max-width: 928px) {
  /* line 550, ../sass/main.scss */
  .Searchbox {
    background-position: -105px;
    bottom: 0px;
  }
}
@media (max-width: 768px) {
  /* line 550, ../sass/main.scss */
  .Searchbox {
    display: none;
  }
}
/* line 573, ../sass/main.scss */
.Searchbox .buttonsubmit {
  position: absolute;
  right: 30px;
  bottom: 20px;
}
/* line 581, ../sass/main.scss */
.Searchbox .form {
  margin-top: 25px;
}
/* line 586, ../sass/main.scss */
.Searchbox .number {
  color: #fff;
  top: 25%;
}
/* line 591, ../sass/main.scss */
.Searchbox .number h1 {
  font-family: 'PT Sans',sans-serif;
  font-weight: bold;
  letter-spacing: 0.03em;
}
/* line 599, ../sass/main.scss */
.Searchbox .number p {
  font-family: 'myriadpro-regular';
  font-size: 29px;
  color: #fff;
}
@media (max-width: 928px) {
  /* line 599, ../sass/main.scss */
  .Searchbox .number p {
    font-size: 21px;
  }
}
/* line 610, ../sass/main.scss */
.Searchbox .number span {
  color: #7eff00;
}
@media (max-width: 928px) {
  /* line 610, ../sass/main.scss */
  .Searchbox .number span {
    font-size: 21px;
  }
}
/* line 620, ../sass/main.scss */
.Searchbox h1 {
  margin: 0px;
  padding: 0px;
  font-size: 21px;
  font-family: 'PT Sans',sans-serif;
  font-weight: bold;
}
@media (max-width: 928px) {
  /* line 620, ../sass/main.scss */
  .Searchbox h1 {
    font-size: 19px;
  }
}
/* line 631, ../sass/main.scss */
.Searchbox input:focus {
  outline: none;
}
/* line 636, ../sass/main.scss */
.Searchbox .button {
  padding: 10px 30px;
  background-color: #fbb000;
  border: 0px;
  color: #fff;
  font-family: 'PT Sans',sans-serif;
  margin-left: 16px;
}
/* line 645, ../sass/main.scss */
.Searchbox .button:hover {
  background-color: #d6990a;
}
@media (max-width: 928px) {
  /* line 636, ../sass/main.scss */
  .Searchbox .button {
    margin-left: 0px;
  }
}
@media (max-width: 1200px) {
  /* line 636, ../sass/main.scss */
  .Searchbox .button {
    padding: 10px 10px;
  }
}
/* line 660, ../sass/main.scss */
.Searchbox input[type=text] {
  height: 35px;
  width: 260px;
  border: 1px solid #b2d3ff;
  font-size: 14px;
  font-family: 'myriadpro-regular';
  margin-bottom: 20px;
  padding-left: 5px;
}
@media (max-width: 1200px) {
  /* line 660, ../sass/main.scss */
  .Searchbox input[type=text] {
    width: 100%;
  }
}
/* line 676, ../sass/main.scss */
.Searchbox ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #aad3f0;
}
/* line 679, ../sass/main.scss */
.Searchbox ::-moz-placeholder {
  /* Firefox 19+ */
  color: #aad3f0;
}
/* line 682, ../sass/main.scss */
.Searchbox :-ms-input-placeholder {
  /* IE 10+ */
  color: #aad3f0;
}
/* line 685, ../sass/main.scss */
.Searchbox :-moz-placeholder {
  /* Firefox 18- */
  color: #aad3f0;
}

/* line 691, ../sass/main.scss */
.body-section {
  padding: 0 15px;
}
/* line 694, ../sass/main.scss */
.body-section .row-category {
  background-color: #872848;
  padding: 30px 0;
}
/* line 699, ../sass/main.scss */
.body-section h1 {
  font-size: 27px;
  color: #002473;
  font-family: tfarrow-medium;
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
  margin: 52px 0px 43px 0px;
}
@media (max-width: 400px) {
  /* line 699, ../sass/main.scss */
  .body-section h1 {
    margin: 133px 0px 43px 0px;
  }
}
/* line 717, ../sass/main.scss */
.body-section span {
  font-size: 16px;
  display: block;
  letter-spacing: 0.09em;
}
/* line 724, ../sass/main.scss */
.body-section .containt-wrap.center-wrap {
  text-align: center;
}
/* line 729, ../sass/main.scss */
.body-section .secondcolor {
  background-color: #ededed !important;
}
/* line 733, ../sass/main.scss */
.body-section .category-box {
  width: calc((100%)/ 4);
  float: left;
  position: relative;
  height: 312px;
  background-color: #f5f5f5;
}
@media (max-width: 1000px) {
  /* line 733, ../sass/main.scss */
  .body-section .category-box {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 733, ../sass/main.scss */
  .body-section .category-box {
    margin-bottom: 15px;
  }
}
/* line 748, ../sass/main.scss */
.body-section .category-box .category-inner {
  position: relative;
  z-index: 10;
}
/* line 753, ../sass/main.scss */
.body-section .category-box h3 {
  font-family: 'PT Sans',sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #3d5d80;
  text-align: center;
  max-width: 80%;
  padding: 0;
  margin: 0 auto;
  height: 30px;
}
/* line 765, ../sass/main.scss */
.body-section .category-box p {
  font-family: myriadpro-regular;
  max-width: 85%;
  font-size: 15px;
  color: #3d5d80;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 15px;
}
/* line 778, ../sass/main.scss */
.body-section .category-box a {
  width: 165px;
  height: 38px;
  display: block;
  background-color: #1376e3;
  color: #fff;
  font-family: 'PT Sans',sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 2.6em;
  text-decoration: none;
  margin: 0 auto;
  transition: all 300ms ease;
}
/* line 794, ../sass/main.scss */
.body-section .category-box a:after {
  width: 100%;
  height: 40%;
  left: 0;
  top: 100%;
  background: #49a7df;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotateX(-90deg);
  -moz-transform-origin: 0% 0%;
  -moz-transform: rotateX(-90deg);
  -ms-transform-origin: 0% 0%;
  -ms-transform: rotateX(-90deg);
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 817, ../sass/main.scss */
.body-section .category-box a:hover {
  background-color: #1364bd;
}
/* line 827, ../sass/main.scss */
.body-section .category-box img {
  margin: 0 auto;
  display: block;
  padding: 26px 0px;
}
/* line 836, ../sass/main.scss */
.body-section .partners {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 842, ../sass/main.scss */
.body-section .partners li {
  width: 20%;
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
  margin-bottom: 35px;
}
@media (max-width: 900px) {
  /* line 842, ../sass/main.scss */
  .body-section .partners li {
    width: 25%;
  }
}
@media (max-width: 724px) {
  /* line 842, ../sass/main.scss */
  .body-section .partners li {
    width: 33%;
  }
}
@media (max-width: 600px) {
  /* line 842, ../sass/main.scss */
  .body-section .partners li {
    width: 50%;
  }
}

/* line 870, ../sass/main.scss */
.navigation_mobile .mobile-btn {
  bottom: 0;
  padding: 9px 6px;
  text-align: center;
  display: block;
  top: 24px;
  left: 62%;
  position: relative;
}
/* line 878, ../sass/main.scss */
.navigation_mobile .mobile-btn span {
  position: absolute;
  display: block;
  width: 22px;
  height: 3px;
  margin-left: -10px;
  margin-top: -1px;
  left: 50%;
  background-color: #ff0013;
  top: initial;
  bottom: initial;
  transition: all 300ms ease;
}
/* line 890, ../sass/main.scss */
.navigation_mobile .mobile-btn span.top {
  top: 11px;
}
/* line 893, ../sass/main.scss */
.navigation_mobile .mobile-btn span.middle {
  top: 17px;
}
/* line 899, ../sass/main.scss */
.navigation_mobile .mobile-btn span.bottom {
  bottom: 11px;
}
/* line 906, ../sass/main.scss */
.navigation_mobile .mobile-btn.open span.top {
  top: 15px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 910, ../sass/main.scss */
.navigation_mobile .mobile-btn.open span.middle {
  opacity: 0;
}
/* line 913, ../sass/main.scss */
.navigation_mobile .mobile-btn.open span.bottom {
  bottom: 15px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 15px;
}

/* line 925, ../sass/main.scss */
.open-nav {
  padding-right: 20px;
  display: block !important;
  position: fixed;
  left: 0;
  top: 65px;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
  line-height: 3;
  text-align: center;
}
/* line 937, ../sass/main.scss */
.open-nav .navigation {
  border-right: 1px solid #e1e1e1;
  padding-right: 15px;
}
/* line 941, ../sass/main.scss */
.open-nav .navigation ul {
  padding-top: 85px;
}
/* line 945, ../sass/main.scss */
.open-nav .navigation ul li {
  display: inline !important;
}
/* line 947, ../sass/main.scss */
.open-nav .navigation ul li a {
  font-size: 23px !important;
}

/* line 957, ../sass/main.scss */
.mobile_slider {
  display: none;
}
@media (max-width: 400px) {
  /* line 957, ../sass/main.scss */
  .mobile_slider {
    display: block;
  }
}
/* line 965, ../sass/main.scss */
.mobile_slider .make_inqury {
  width: 214px;
  height: 48px;
  background-color: #3d5d80;
  display: block;
  position: ABSOLUTE;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  text-align: center;
  line-height: 2.3em;
  color: #fff;
  text-decoration: none;
  font-size: 21px;
  text-transform: uppercase;
  margin-top: 25px;
}

@media (max-width: 768px) {
  /* line 986, ../sass/main.scss */
  .hide {
    display: none;
  }
}

@media (max-width: 768px) {
  /* line 993, ../sass/main.scss */
  .no_mobile {
    display: none;
  }
}

/* line 1000, ../sass/main.scss */
.view_moblie {
  display: none;
}
@media (max-width: 768px) {
  /* line 1000, ../sass/main.scss */
  .view_moblie {
    display: block;
  }
}
@media (max-width: 768px) {
  /* line 1008, ../sass/main.scss */
  .view_moblie p {
    display: block !important;
    padding-right: 15px;
    padding-bottom: 18px;
  }
}

@media (max-width: 400px) {
  /* line 1020, ../sass/main.scss */
  .tp-banner-container {
    display: none;
  }
}

/* line 1027, ../sass/main.scss */
.map-section {
  height: 471px;
  width: 100%;
  padding-bottom: 86px;
}
/* line 1031, ../sass/main.scss */
.map-section .google-map {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 1038, ../sass/main.scss */
.business-cover-img {
  height: 468px;
  margin-bottom: 50px;
}
/* line 1041, ../sass/main.scss */
.business-cover-img .business-cover {
  background-image: url("../../img/business/bg-business.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 1048, ../sass/main.scss */
.business-cover-img .partner-cover {
  background-image: url("../../img/business/bg-partners.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 360px) {
  /* line 1038, ../sass/main.scss */
  .business-cover-img {
    margin-bottom: -130px;
  }
  /* line 1057, ../sass/main.scss */
  .business-cover-img .business-cover {
    background-image: url("../../img/business/business.jpg");
  }
  /* line 1060, ../sass/main.scss */
  .business-cover-img .partner-cover {
    background-image: url("../../img/business/partners.jpg");
  }
}

/* ################################### */
/* Cover section */
/* ################################## */
/* line 1073, ../sass/main.scss */
.cover-section.other-section {
  max-height: 467px;
  height: 100%;
  position: relative;
}
/* line 1078, ../sass/main.scss */
.cover-section.other-section .about-section {
  background-image: url("../../img/about/slider.jpg");
  width: 100%;
  padding: 16% 0 1% 0;
  height: 100%;
}
/* line 1083, ../sass/main.scss */
.cover-section.other-section .about-section.products-section {
  background-image: url("../../img/products/slider.jpg");
}
/* line 1088, ../sass/main.scss */
.cover-section.other-section h1 {
  font-size: 48px;
  font-family: 'tfarrow-medium';
  font-weight: 100;
}
/* line 1093, ../sass/main.scss */
.cover-section.other-section p {
  font-size: 18px;
  font-family: 'tfarrow-medium';
  color: #4c4c4c;
  line-height: 1.4;
}
@media (max-width: 992px) {
  /* line 1073, ../sass/main.scss */
  .cover-section.other-section {
    max-height: 400px;
  }
  /* line 1102, ../sass/main.scss */
  .cover-section.other-section .about-section {
    background-position: 35% 0;
  }
}
@media (max-width: 768px) {
  /* line 1109, ../sass/main.scss */
  .cover-section.other-section .about-section h1 {
    font-size: 34px;
    text-align: center;
  }
  /* line 1113, ../sass/main.scss */
  .cover-section.other-section .about-section p {
    text-align: center;
  }
}
@media (max-width: 360px) {
  /* line 1120, ../sass/main.scss */
  .cover-section.other-section .about-section {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url("../../img/about/company.jpg");
    padding-top: 260px;
  }
  /* line 1125, ../sass/main.scss */
  .cover-section.other-section .about-section h1 {
    font-size: 28px;
  }
  /* line 1128, ../sass/main.scss */
  .cover-section.other-section .about-section p {
    font-size: 13px;
  }
  /* line 1131, ../sass/main.scss */
  .cover-section.other-section .about-section.products-section {
    background-image: url("../../img/products/product.jpg");
  }
}

/*###################################*/
/* Body section "Contact Us" */
/*##################################*/
/* line 1146, ../sass/main.scss */
.body-section {
  padding-top: 15px;
  /*######################################*/
  /* Body section "Working hours" */
  /*######################################*/
  /*####################################*/
  /* tab section  in about */
  /*###################################*/
  /* ################################# */
  /* Products filter */
  /* ################################# */
  /* ################################# */
  /* Products images and names */
  /* ################################# */
  /* ################################### 
  ######        Page list           ########
      ################################# */
  /* ##################### */
  /* Details body */
  /* ##################### */
  /* ###################################
  ######      Related products       #######
     ################################# */
}
/* line 1148, ../sass/main.scss */
.body-section .row {
  margin-bottom: 80px;
}
/* line 1150, ../sass/main.scss */
.body-section .row.conact-info-row {
  background-color: #f8f8f8;
}
@media (max-width: 360px) {
  /* line 1154, ../sass/main.scss */
  .body-section .row .row {
    margin-bottom: 0px;
  }
}
/* line 1161, ../sass/main.scss */
.body-section .container-wrap.center {
  text-align: center;
}
/* line 1164, ../sass/main.scss */
.body-section .container-wrap h1 {
  margin: 20px 0;
}
/* line 1167, ../sass/main.scss */
.body-section .container-wrap p {
  font-family: 'tfarrow-medium';
  font-size: 15px;
}
/* line 1172, ../sass/main.scss */
.body-section .contact-info {
  padding: 35px 0;
}
/* line 1174, ../sass/main.scss */
.body-section .contact-info .contact-details {
  display: inline-block;
  width: 16.67%;
  margin-right: -4px;
  position: relative;
  font-family: 'myriadpro-regular';
  vertical-align: top;
}
/* line 1182, ../sass/main.scss */
.body-section .contact-info .contact-details.address {
  width: 50%;
}
/* line 1185, ../sass/main.scss */
.body-section .contact-info .contact-details .details-wrap {
  display: inline-block;
  padding-left: 35px;
  position: relative;
}
/* line 1189, ../sass/main.scss */
.body-section .contact-info .contact-details .details-wrap.wrap-center {
  text-align: left;
}
/* line 1194, ../sass/main.scss */
.body-section .contact-info .contact-details .icon-contact {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url("../../img/icons/all-contact.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/all-contact.svg");
}
/* line 1202, ../sass/main.scss */
.body-section .contact-info .contact-details .icon-contact.icon-address {
  background-position: 0 0;
}
/* line 1205, ../sass/main.scss */
.body-section .contact-info .contact-details .icon-contact.icon-telephone {
  background-position: 0 -26px;
}
/* line 1208, ../sass/main.scss */
.body-section .contact-info .contact-details .icon-contact.icon-fax {
  background-position: 0 -49px;
}
/* line 1211, ../sass/main.scss */
.body-section .contact-info .contact-details .icon-contact.icon-email {
  background-position: 0 -72px;
}
/* line 1215, ../sass/main.scss */
.body-section .contact-info .contact-details .contact-font {
  font-size: 18px;
  color: #bebebe;
  font-family: 'myriadpro-regular';
}
@media (max-width: 992px) {
  /* line 1223, ../sass/main.scss */
  .body-section .contact-info .contact-details {
    width: 33.33%;
    text-align: center;
  }
  /* line 1226, ../sass/main.scss */
  .body-section .contact-info .contact-details.address {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  /* line 1235, ../sass/main.scss */
  .body-section .contact-info .contact-details {
    width: 100%;
    margin-bottom: 20px;
  }
  /* line 1238, ../sass/main.scss */
  .body-section .contact-info .contact-details.address {
    width: 100%;
  }
}
@media (max-width: 360px) {
  /* line 1245, ../sass/main.scss */
  .body-section .contact-info .contact-details {
    text-align: left;
  }
}
@media (max-width: 320px) {
  /* line 1251, ../sass/main.scss */
  .body-section .contact-info .contact-details {
    text-align: left;
  }
}
/* line 1264, ../sass/main.scss */
.body-section .working-hours {
  max-width: 864px;
  margin: 0 auto;
  padding-top: 52px;
}
/* line 1268, ../sass/main.scss */
.body-section .working-hours .days {
  display: inline-block;
  margin-right: -4px;
  width: 33.33%;
  padding: 50px 15px;
  background-color: #f5f5f5;
}
/* line 1274, ../sass/main.scss */
.body-section .working-hours .days.days-dark {
  background-color: #ededed;
}
/* line 1277, ../sass/main.scss */
.body-section .working-hours .days h3 {
  font-family: 'myriadpro-regular';
  font-size: 24px;
  color: #3d5d80;
}
/* line 1282, ../sass/main.scss */
.body-section .working-hours .days p {
  font-family: 'myriadpro-regular';
  font-size: 21px;
  color: #3d5d80;
  margin-top: 18px;
}
@media (max-width: 992px) {
  /* line 1291, ../sass/main.scss */
  .body-section .working-hours .days {
    padding: 38px 15px;
  }
  /* line 1293, ../sass/main.scss */
  .body-section .working-hours .days h3 {
    font-size: 18px;
  }
  /* line 1296, ../sass/main.scss */
  .body-section .working-hours .days p {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  /* line 1303, ../sass/main.scss */
  .body-section .working-hours .days {
    width: 100%;
  }
}
/* line 1309, ../sass/main.scss */
.body-section .from-section {
  max-width: 573px;
  margin: 0 auto;
  padding-top: 52px;
}
/* line 1313, ../sass/main.scss */
.body-section .from-section .form-inputs {
  margin-bottom: 22px;
  /*
          .form-submit{
            width: 166px;
            height: 48px;
            padding: 11px 11px;
            display: inline-block;
            @include background(linear-gradient(180deg, #feb300 0, #eaa000 100%));
            font-weight: bold;
  
            position: relative;
            margin: 0 10px;
            cursor: pointer;
            /*
            box-shadow: inset 0 0 0 2px #1376e3;
            -webkit-transition: background 450ms 450ms;
            transition: background 450ms 450ms; 
            
              &:hover{
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
                transition: 450px;
              }
  
               p{
                  font-family: 'myriadpro-regular';
                  text-align: center;
                  font-size: 16px;
                  color: #ffffff;
              }
  
               svg {
                position: absolute;
                top: 0;
                left: 0;
              }
  
               svg line {
                stroke-width: 5px;
                stroke: #fff;
                fill: none;
                -webkit-transition: all 2s ease-in-out;
                transition: all 2s ease-in-out;
              }
  
              &:hover svg line {
                -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s;
              }
  
               svg line.top,
               svg line.bottom {
                stroke-dasharray: 166 166; 
              }
  
               svg line.left,
               svg line.right {
                stroke-dasharray: 48 48;
              }
  
              &:hover svg line.top {
                -webkit-transform: translateX(-332px);
                transform: translateX(-332px);
              }
  
              &:hover svg line.bottom {
                -webkit-transform: translateX(332px);
                transform: translateX(332px);
              }
  
              &:hover svg line.left {
                -webkit-transform: translateY(96px);
                transform: translateY(96px);
              }
  
              &:hover svg line.right {
                -webkit-transform: translateY(-96px);
                transform: translateY(-96px);
              }       
      
  
          } */
}
/* line 1315, ../sass/main.scss */
.body-section .from-section .form-inputs input, .body-section .from-section .form-inputs textarea {
  width: 100%;
  font-size: 15px;
  font-family: 'myriadpro-regular';
  padding: 13px 15px;
  border: 1px #dbdbdb solid;
}
/* line 1322, ../sass/main.scss */
.body-section .from-section .form-inputs textarea {
  height: 200px;
}
/* line 1325, ../sass/main.scss */
.body-section .from-section .form-inputs.button-right {
  width: 170px;
  height: 40px;
}
/* line 1328, ../sass/main.scss */
.body-section .from-section .form-inputs.button-right .form-submit {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjQwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VhYTAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-linear-gradient(270deg, #ffb400 0%, #eaa000 100%);
  background: -webkit-linear-gradient(270deg, #ffb400 0%, #eaa000 100%);
  background: linear-gradient(180deg, #ffb400 0%, #eaa000 100%);
  font-size: 16px;
  color: #fff;
  font-family: 'myriadpro-regular';
}
/* line 1427, ../sass/main.scss */
.body-section .tab .tab-section {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
}
/* line 1431, ../sass/main.scss */
.body-section .tab .tab-section li {
  display: inline-block;
}
/* line 1434, ../sass/main.scss */
.body-section .tab .tab-section li a {
  display: block;
  color: #a3a3a3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
  font-family: 'tfarrow-medium';
  position: relative;
}
/* line 1443, ../sass/main.scss */
.body-section .tab .tab-section li a:after {
  display: none;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #3ecbf1;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 1456, ../sass/main.scss */
.body-section .tab .tab-section li.active a {
  color: #002473;
}
/* line 1458, ../sass/main.scss */
.body-section .tab .tab-section li.active a:after {
  display: block;
}
/* line 1464, ../sass/main.scss */
.body-section .tab .tab-section li:hover a {
  color: #3499db;
  transition: 450ms;
}
/* line 1474, ../sass/main.scss */
.body-section .tab .tab-content .content {
  border-bottom: 1px #d7d7d7 solid;
  padding-bottom: 75px;
  display: none;
}
/* line 1479, ../sass/main.scss */
.body-section .tab .tab-content .content.veiw-element {
  display: block;
}
/* line 1482, ../sass/main.scss */
.body-section .tab .tab-content .content .image-wrap {
  margin: 53px 0;
}
/* line 1484, ../sass/main.scss */
.body-section .tab .tab-content .content .image-wrap img {
  width: 479px;
}
/* line 1491, ../sass/main.scss */
.body-section .tab .tab-content .content .image-para p {
  text-align: left;
  padding-top: 71px;
}
@media (max-width: 1200px) {
  /* line 1502, ../sass/main.scss */
  .body-section .tab .image-wrap img {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 1513, ../sass/main.scss */
  .body-section .tab .tab-section li a.tablink {
    font-size: 24px;
  }
}
@media (max-width: 400px) {
  /* line 1525, ../sass/main.scss */
  .body-section .tab .tab-section li a.tablink {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  /* line 1537, ../sass/main.scss */
  .body-section .tab .tab-section li a.tablink {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  /* line 1549, ../sass/main.scss */
  .body-section .tab .tab-section li a.tablink {
    font-size: 16px;
  }
}
/* line 1561, ../sass/main.scss */
.body-section .value-wrap .icon-values {
  display: inline-block;
  margin-right: -4px;
  width: 33.33%;
  padding-left: 100px;
  position: relative;
  margin-bottom: 46px;
}
/* line 1570, ../sass/main.scss */
.body-section .value-wrap .icon-values .icon-details {
  width: 40px;
  height: 45px;
  background-image: url("../../img/icons/all-about.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/all.svg");
  position: absolute;
  left: 44px;
  top: 0px;
}
/* line 1578, ../sass/main.scss */
.body-section .value-wrap .icon-values .icon-details.icon1 {
  background-position: 0 0px;
}
/* line 1581, ../sass/main.scss */
.body-section .value-wrap .icon-values .icon-details.icon2 {
  background-position: 0 -47px;
}
/* line 1584, ../sass/main.scss */
.body-section .value-wrap .icon-values .icon-details.icon3 {
  background-position: 0 -96px;
}
/* line 1587, ../sass/main.scss */
.body-section .value-wrap .icon-values .icon-details.icon4 {
  background-position: 0 -142px;
}
/* line 1590, ../sass/main.scss */
.body-section .value-wrap .icon-values .icon-details.icon5 {
  background-position: 0 -188px;
}
/* line 1593, ../sass/main.scss */
.body-section .value-wrap .icon-values .icon-details.icon6 {
  background-position: 0 -229px;
}
/* line 1597, ../sass/main.scss */
.body-section .value-wrap .icon-values .icon-font {
  font-size: 15px;
  font-weight: bold;
  font-family: 'tfarrow-medium';
}
/* line 1602, ../sass/main.scss */
.body-section .value-wrap .icon-values p {
  font-size: 15px;
  text-align: left;
  font-family: 'tfarrow-medium';
}
@media (max-width: 768px) {
  /* line 1610, ../sass/main.scss */
  .body-section .value-wrap .icon-values {
    width: 100%;
    padding-left: 74px;
  }
  /* line 1613, ../sass/main.scss */
  .body-section .value-wrap .icon-values .icon-details {
    left: 12px;
  }
}
@media (max-width: 360px) {
  /* line 1620, ../sass/main.scss */
  .body-section .value-wrap .icon-values {
    padding-left: 0px;
    padding-top: 60px;
  }
  /* line 1623, ../sass/main.scss */
  .body-section .value-wrap .icon-values .icon-details {
    left: 0px;
  }
}
/* line 1636, ../sass/main.scss */
.body-section .filter-products {
  background-color: #dedede;
}
/* line 1638, ../sass/main.scss */
.body-section .filter-products .filter-heading {
  width: 100%;
  height: 80px;
  background-color: #c0c0c0;
}
/* line 1642, ../sass/main.scss */
.body-section .filter-products .filter-heading span {
  font-size: 20px;
  font-family: 'myriadpro-regular';
  color: #ffffff;
  padding: 26px 0 29px 21px;
}
/* line 1650, ../sass/main.scss */
.body-section .filter-products .filter-cat {
  padding-bottom: 10px;
}
/* line 1652, ../sass/main.scss */
.body-section .filter-products .filter-cat span {
  font-size: 18px;
  font-family: 'myriadpro-regular';
  padding: 34px 0 22px 21px;
}
/* line 1657, ../sass/main.scss */
.body-section .filter-products .filter-cat ul {
  list-style-type: none;
  padding-left: 36px;
}
/* line 1660, ../sass/main.scss */
.body-section .filter-products .filter-cat ul li {
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}
/* line 1664, ../sass/main.scss */
.body-section .filter-products .filter-cat ul a {
  text-decoration: none;
  font-family: 'myriadpro-regular';
  font-size: 15px;
  color: #000000;
  transition: 450ms;
}
/* line 1670, ../sass/main.scss */
.body-section .filter-products .filter-cat ul a:hover {
  color: #1376e3;
}
@media (max-width: 768px) {
  /* line 1678, ../sass/main.scss */
  .body-section .filter-products .filter-cat {
    display: none;
  }
  /* line 1680, ../sass/main.scss */
  .body-section .filter-products .filter-cat .filter-name {
    padding: 10px 0 20px 12px;
  }
  /* line 1684, ../sass/main.scss */
  .body-section .filter-products .filter-cat .myclass {
    display: none;
  }
  /* line 1687, ../sass/main.scss */
  .body-section .filter-products .filter-cat ul {
    padding-left: 24px;
  }
  /* line 1689, ../sass/main.scss */
  .body-section .filter-products .filter-cat ul li {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
  }
}
/* line 1706, ../sass/main.scss */
.body-section .products-all .products {
  width: 33.33%;
  float: left;
  padding: 15px;
  position: relative;
}
/* line 1711, ../sass/main.scss */
.body-section .products-all .products img {
  width: 100%;
}
/* line 1715, ../sass/main.scss */
.body-section .products-all .products .overlay {
  text-align: center;
  opacity: 0.80;
  transition: 450ms;
  display: none;
  position: absolute;
  /* width: 100%; */
  /* height: 100%; */
  left: 15px;
  right: 15px;
  bottom: 15px;
  top: 15px;
  z-index: 10;
  background-color: #4067a9;
}
/* line 1719, ../sass/main.scss */
.body-section .products-all .products .overlay a {
  text-decoration: none;
  font-family: 'myriadpro-regular';
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  padding: 72% 0;
}
/* line 1739, ../sass/main.scss */
.body-section .products-all .products .product-inner {
  border: 1px #d2d2d2 solid;
  min-height: 367px;
  padding: 5px;
  text-align: center;
  transition: 450ms;
}
/* line 1746, ../sass/main.scss */
.body-section .products-all .products .product-inner .names a {
  text-decoration: none;
  color: #000000;
  font-family: 'myriadpro-regular';
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.8px;
}
/* line 1758, ../sass/main.scss */
.body-section .products-all .products:hover .overlay {
  display: block;
}
@media (max-width: 1200px) {
  /* line 1767, ../sass/main.scss */
  .body-section .products-all .products img {
    width: 100%;
    display: block;
  }
}
@media (max-width: 992px) {
  /* line 1775, ../sass/main.scss */
  .body-section .products-all .products {
    width: 50%;
  }
  /* line 1777, ../sass/main.scss */
  .body-section .products-all .products img {
    width: 100%;
    display: block;
  }
  /* line 1781, ../sass/main.scss */
  .body-section .products-all .products .names {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 30px;
  }
}
@media (max-width: 768px) {
  /* line 1791, ../sass/main.scss */
  .body-section .products-all .products {
    width: 100%;
  }
  /* line 1793, ../sass/main.scss */
  .body-section .products-all .products img {
    width: 100%;
    display: block;
  }
  /* line 1797, ../sass/main.scss */
  .body-section .products-all .products .product-inner {
    position: relative;
  }
}
/* line 1810, ../sass/main.scss */
.body-section .page-list {
  text-align: right;
  width: 100%;
  float: right;
}
/* line 1814, ../sass/main.scss */
.body-section .page-list a {
  text-decoration: none;
  font-family: 'myriadpro-regular';
  font-weight: 600;
  color: #949494;
  font-size: 15px;
  padding-right: 10px;
  padding-left: 10px;
}
/* line 1823, ../sass/main.scss */
.body-section .page-list a.active {
  color: #002473;
}
/* line 1827, ../sass/main.scss */
.body-section .page-list a:hover {
  color: #002473;
  transition: 450ms;
}
@media (max-width: 768px) {
  /* line 1810, ../sass/main.scss */
  .body-section .page-list {
    text-align: center;
  }
  /* line 1835, ../sass/main.scss */
  .body-section .page-list a {
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media (max-width: 360px) {
  /* line 1842, ../sass/main.scss */
  .body-section .page-list a {
    padding-left: 2px;
  }
}
@media (max-width: 320px) {
  /* line 1810, ../sass/main.scss */
  .body-section .page-list {
    padding-right: 22px;
  }
  /* line 1849, ../sass/main.scss */
  .body-section .page-list a {
    font-size: 14px;
    padding-left: 3px;
  }
}
/* line 1861, ../sass/main.scss */
.body-section .hidden-head {
  display: none;
}
/* line 1863, ../sass/main.scss */
.body-section .hidden-head h1 {
  text-align: left;
  font-size: 30px;
  font-family: 'tfarrow-medium';
  text-align: center;
}
@media (max-width: 768px) {
  /* line 1861, ../sass/main.scss */
  .body-section .hidden-head {
    display: block;
  }
}
@media (max-width: 360px) {
  /* line 1875, ../sass/main.scss */
  .body-section .hidden-head h1 {
    margin: 40px 0 43px;
  }
}
/* line 1881, ../sass/main.scss */
.body-section .details-wrap {
  display: flex;
}
/* line 1883, ../sass/main.scss */
.body-section .details-wrap a {
  text-decoration: none;
}
/* line 1886, ../sass/main.scss */
.body-section .details-wrap .img-sub {
  display: block;
}
/* line 1888, ../sass/main.scss */
.body-section .details-wrap .img-sub img {
  width: 117px;
  height: 117px;
  border: 1px solid #d2d2d2;
}
/* line 1894, ../sass/main.scss */
.body-section .details-wrap .img-sub .detail-img {
  padding-bottom: 14px;
  position: relative;
}
/* line 1897, ../sass/main.scss */
.body-section .details-wrap .img-sub .detail-img .overlay {
  opacity: 0.80;
  transition: 450ms;
  display: none;
  position: absolute;
  width: 100%;
  height: 86%;
  z-index: 10;
  background-color: #4067a9;
}
/* line 1908, ../sass/main.scss */
.body-section .details-wrap .img-sub .detail-img:hover .overlay {
  display: block;
}
/* line 1916, ../sass/main.scss */
.body-section .details-wrap .img-main {
  width: 450px;
  height: 522px;
  border: 1px solid #d2d2d2;
  margin-left: 10px;
}
/* line 1921, ../sass/main.scss */
.body-section .details-wrap .img-main img {
  width: 100%;
}
@media (max-width: 768px) {
  /* line 1927, ../sass/main.scss */
  .body-section .details-wrap .img-sub {
    display: none;
  }
  /* line 1930, ../sass/main.scss */
  .body-section .details-wrap .img-main {
    margin: auto;
    margin-bottom: 54px;
  }
  /* line 1933, ../sass/main.scss */
  .body-section .details-wrap .img-main img {
    width: 90%;
  }
}
@media (max-width: 360px) {
  /* line 1940, ../sass/main.scss */
  .body-section .details-wrap .img-main {
    height: 403px;
  }
}
/* line 1948, ../sass/main.scss */
.body-section .details-para .description {
  padding-bottom: 40px;
}
/* line 1950, ../sass/main.scss */
.body-section .details-para .description h1 {
  text-align: left;
  font-size: 30px;
  font-family: 'tfarrow-medium';
}
/* line 1955, ../sass/main.scss */
.body-section .details-para .description p {
  font-size: 16px;
  font-family: 'myriadpro-regular';
}
/* line 1961, ../sass/main.scss */
.body-section .details-para .video-wrap {
  float: none;
  display: inline-block;
  width: 49%;
}
/* line 1966, ../sass/main.scss */
.body-section .details-para .video-wrap .video-inner {
  width: 226px;
  position: relative;
}
/* line 1970, ../sass/main.scss */
.body-section .details-para .video-wrap .video-inner .play-btn {
  top: 0;
  left: 0;
  width: 84px;
  height: 84px;
  position: absolute;
  z-index: 1000;
  background-image: url("../../img/details/playpause.png");
  cursor: pointer;
  transition: 450ms transform ease;
  margin: 23px 0 0 71px;
}
/* line 1982, ../sass/main.scss */
.body-section .details-para .video-wrap .video-inner .play-btn.btn-effect {
  transform: scale(0.5);
  background-position: 0 85px;
  margin: 58px 0 0 156px;
}
/* line 1987, ../sass/main.scss */
.body-section .details-para .video-wrap .video-inner .play-btn:hover {
  transform: scale(1.1);
}
/* line 1989, ../sass/main.scss */
.body-section .details-para .video-wrap .video-inner .play-btn:hover.btn-effect {
  transform: scale(0.6);
}
/* line 1995, ../sass/main.scss */
.body-section .details-para .video-wrap video {
  width: 100%;
  vertical-align: bottom;
}
/* line 2001, ../sass/main.scss */
.body-section .details-para .button-wrap {
  float: none;
  display: inline-block;
  vertical-align: bottom;
}
/* line 2009, ../sass/main.scss */
.body-section .details-para .button-wrap .dwnload-btn {
  text-align: 0 left;
  /* font-size: 18px; */
  border-radius: 3px;
  background-color: #003a92;
  width: 236px;
  height: 52px;
  border: none;
  text-align: center;
  position: relative;
  margin: 0 10px;
  cursor: pointer;
  color: #2c3e50;
  -webkit-transition: background 450ms 450ms;
  transition: background 450ms 450ms;
}
/* line 2026, ../sass/main.scss */
.body-section .details-para .button-wrap .dwnload-btn:hover {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  transition: 450px;
}
/* line 2032, ../sass/main.scss */
.body-section .details-para .button-wrap .dwnload-btn p {
  font-family: 'myriadpro-regular';
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}
/* line 2039, ../sass/main.scss */
.body-section .details-para .button-wrap .dwnload-btn svg {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 2045, ../sass/main.scss */
.body-section .details-para .button-wrap .dwnload-btn svg line {
  stroke-width: 5px;
  stroke: #3499db;
  fill: none;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
/* line 2053, ../sass/main.scss */
.body-section .details-para .button-wrap .dwnload-btn:hover svg line {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 2058, ../sass/main.scss */
.body-section .details-para .button-wrap .dwnload-btn svg line.top,
.body-section .details-para .button-wrap .dwnload-btn svg line.bottom {
  stroke-dasharray: 236 236;
}
/* line 2063, ../sass/main.scss */
.body-section .details-para .button-wrap .dwnload-btn svg line.left,
.body-section .details-para .button-wrap .dwnload-btn svg line.right {
  stroke-dasharray: 52 52;
}
/* line 2068, ../sass/main.scss */
.body-section .details-para .button-wrap .dwnload-btn:hover svg line.top {
  -webkit-transform: translateX(-472px);
  transform: translateX(-472px);
}
/* line 2073, ../sass/main.scss */
.body-section .details-para .button-wrap .dwnload-btn:hover svg line.bottom {
  -webkit-transform: translateX(472px);
  transform: translateX(472px);
}
/* line 2078, ../sass/main.scss */
.body-section .details-para .button-wrap .dwnload-btn:hover svg line.left {
  -webkit-transform: translateY(104px);
  transform: translateY(104px);
}
/* line 2083, ../sass/main.scss */
.body-section .details-para .button-wrap .dwnload-btn:hover svg line.right {
  -webkit-transform: translateY(-104wpx);
  transform: translateY(-104px);
}
@media (max-width: 992px) {
  /* line 2093, ../sass/main.scss */
  .body-section .details-para .description p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
  }
  /* line 2102, ../sass/main.scss */
  .body-section .details-para .button-wrap .dwnload-btn {
    width: 188px;
  }
  /* line 2105, ../sass/main.scss */
  .body-section .details-para .button-wrap .dwnload-btn .btn-grid .hide-svg {
    display: none;
  }
}
@media (max-width: 768px) {
  /* line 2115, ../sass/main.scss */
  .body-section .details-para .description h1 {
    display: none;
  }
  /* line 2119, ../sass/main.scss */
  .body-section .details-para .video-wrap {
    display: block;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  /* line 2123, ../sass/main.scss */
  .body-section .details-para .video-wrap .video-inner {
    width: 178px;
    display: block;
    margin: auto;
  }
  /* line 2127, ../sass/main.scss */
  .body-section .details-para .video-wrap .video-inner .play-btn {
    margin: 9px 0 0 44px;
  }
  /* line 2130, ../sass/main.scss */
  .body-section .details-para .video-wrap .video-inner .play-btn.btn-effect {
    margin: 33px 0 0 110px;
  }
  /* line 2137, ../sass/main.scss */
  .body-section .details-para .button-wrap {
    display: block;
    margin: auto;
  }
  /* line 2140, ../sass/main.scss */
  .body-section .details-para .button-wrap .dwnload-btn {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  /* line 2148, ../sass/main.scss */
  .body-section .details-para .video-wrap {
    display: inline;
  }
}
/* line 2161, ../sass/main.scss */
.body-section .related-head h1 {
  border-bottom: 1px solid #d7d7d7;
  text-align: left;
  font-size: 27px;
  font-family: 'tfarrow-medium';
}
@media (max-width: 768px) {
  /* line 2169, ../sass/main.scss */
  .body-section .related-head h1 {
    text-align: center;
  }
}
/* line 2175, ../sass/main.scss */
.body-section .related-products {
  padding-left: 0px;
}
/* line 2178, ../sass/main.scss */
.body-section .related-products .related-wrap {
  width: 25%;
  float: left;
  padding: 15px;
  position: relative;
}
/* line 2183, ../sass/main.scss */
.body-section .related-products .related-wrap img {
  width: 100%;
}
/* line 2187, ../sass/main.scss */
.body-section .related-products .related-wrap .overlay {
  text-align: center;
  opacity: 0.80;
  transition: 450ms;
  position: absolute;
  /*
              .text{
                position: 
                text-decoration: none;
                font-family: 'myriadpro-regular';
                font-size: 18px;
                text-transform: uppercase;
                color: #fff;
                display: block;
                padding: 72% 0;
              }
              */
  display: none;
  position: absolute;
  /* width: 100%; */
  /* height: 100%; */
  left: 15px;
  right: 15px;
  bottom: 15px;
  top: 15px;
  z-index: 10;
  background-color: #4067a9;
}
/* line 2193, ../sass/main.scss */
.body-section .related-products .related-wrap .overlay .svg-wrapper {
  height: 367px;
  margin: 0 auto;
  position: relative;
  /*  top: 50%;
    transform: translateY(-50%); */
  width: 255px;
}
/* line 2200, ../sass/main.scss */
.body-section .related-products .related-wrap .overlay .svg-wrapper svg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
/* line 2210, ../sass/main.scss */
.body-section .related-products .related-wrap .overlay .shape {
  fill: transparent;
  stroke-dasharray: 1 622;
  stroke-dashoffset: 0;
  stroke-width: 5px;
  stroke: #002473;
}
/* line 2218, ../sass/main.scss */
.body-section .related-products .related-wrap .overlay .text {
  position: relative;
  text-decoration: none;
  font-family: 'myriadpro-regular';
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  padding: 72% 0;
}
@keyframes draw {
  0% {
    stroke-dasharray: 255 622;
    stroke-dashoffset: 0;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 1244;
    stroke-dashoffset: 0;
    stroke-width: 8px;
  }
}
/* line 2242, ../sass/main.scss */
.body-section .related-products .related-wrap .overlay .svg-wrapper:hover .shape {
  -webkit-animation: 2s draw linear forwards;
  animation: 2s draw linear forwards;
}
/* line 2272, ../sass/main.scss */
.body-section .related-products .related-wrap .related-inner {
  border: 1px #d2d2d2 solid;
  min-height: 367px;
  text-align: center;
}
/* line 2277, ../sass/main.scss */
.body-section .related-products .related-wrap .related-inner .names a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  font-family: 'myriadpro-regular';
  font-weight: 600;
  letter-spacing: 0.8px;
}
/* line 2289, ../sass/main.scss */
.body-section .related-products .related-wrap:hover .overlay {
  display: block;
}
@media (max-width: 922px) {
  /* line 2301, ../sass/main.scss */
  .body-section .related-products .related-wrap .overlay .svg-wrapper svg {
    display: none;
  }
  /* line 2306, ../sass/main.scss */
  .body-section .related-products .related-wrap .names {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 70px;
  }
}
@media (max-width: 768px) {
  /* line 2316, ../sass/main.scss */
  .body-section .related-products .related-wrap {
    width: 100%;
  }
}
/* line 2326, ../sass/main.scss */
.body-section .business-head-section .business-head h1 {
  font-size: 48px;
  font-family: 'tfarrow-medium';
  color: #181818;
  text-align: left;
  margin-left: 110px;
  text-transform: capitalize;
}
/* line 2334, ../sass/main.scss */
.body-section .business-head-section .business-head h1 span {
  font-size: 48px;
  font-family: 'tfarrow-medium';
  color: #181818;
  text-transform: capitalize;
  display: block;
}
/* line 2342, ../sass/main.scss */
.body-section .business-head-section .business-head h1:after {
  content: " ";
  display: block;
  border-bottom: 3px solid #00348c;
  width: 82px;
  margin-top: 35px;
}
@media (max-width: 768px) {
  /* line 2354, ../sass/main.scss */
  .body-section .business-head-section .business-head h1 {
    margin-left: 0;
    text-align: center;
  }
  /* line 2357, ../sass/main.scss */
  .body-section .business-head-section .business-head h1 span {
    display: inline-block;
  }
  /* line 2360, ../sass/main.scss */
  .body-section .business-head-section .business-head h1:after {
    display: none;
  }
}
/* line 2368, ../sass/main.scss */
.body-section .business-description-section {
  border-left: 1px solid #d7d7d7;
}
/* line 2372, ../sass/main.scss */
.body-section .business-description-section .business-description .business-topic h2 {
  font-size: 22px;
  font-family: 'tfarrow-medium';
  color: #000;
  margin-bottom: 24px;
}
/* line 2380, ../sass/main.scss */
.body-section .business-description-section .business-description .topic-description p {
  font-size: 15px;
  font-family: 'tfarrow-medium';
  color: #000;
  margin-bottom: 24px;
  line-height: 1.3;
  letter-spacing: 1.2px;
}
/* line 2392, ../sass/main.scss */
.body-section .business-description-section .partner-section li {
  width: 25%;
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
  margin-bottom: 35px;
  position: relative;
  min-height: 96px;
}
/* line 2400, ../sass/main.scss */
.body-section .business-description-section .partner-section li img {
  width: 100%;
}
/* line 2403, ../sass/main.scss */
.body-section .business-description-section .partner-section li .partner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  opacity: 0.80;
  transition: 400ms;
  display: none;
  position: absolute;
  z-index: 10;
  background-color: #0d3e92;
  padding-top: 27px;
}
/* line 2417, ../sass/main.scss */
.body-section .business-description-section .partner-section li .partner-overlay a {
  text-decoration: none;
  color: #fff;
  font-family: 'myriadpro-regular';
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
/* line 2429, ../sass/main.scss */
.body-section .business-description-section .partner-section li:hover .partner-overlay {
  display: block;
}
@media (max-width: 768px) {
  /* line 2440, ../sass/main.scss */
  .body-section .business-description-section .business-description .business-topic h2 {
    text-align: center;
  }
  /* line 2445, ../sass/main.scss */
  .body-section .business-description-section .business-description .topic-description p {
    font-size: 15px;
  }
  /* line 2451, ../sass/main.scss */
  .body-section .business-description-section .partner-section li {
    margin-bottom: 0;
  }
}
@media (max-width: 360px) {
  /* line 2459, ../sass/main.scss */
  .body-section .business-description-section .partner-section li {
    width: 50%;
  }
}

/* line 2468, ../sass/main.scss */
.footer-section {
  font-family: 'myriadpro-regular';
  font-size: 14px;
  background-color: #dfdfdf;
  padding: 0 15px;
  padding-top: 83px;
}
@media (max-width: 768px) {
  /* line 2476, ../sass/main.scss */
  .footer-section .col-mb-12 {
    padding: 0px !important;
  }
}
@media (max-width: 768px) {
  /* line 2483, ../sass/main.scss */
  .footer-section .footer_top_mobile {
    padding: 0px 15px;
  }
}
/* line 2492, ../sass/main.scss */
.footer-section .container {
  padding: 0;
}
/* line 2496, ../sass/main.scss */
.footer-section li {
  list-style: none;
}
/* line 2499, ../sass/main.scss */
.footer-section li a {
  color: #000;
  text-decoration: none;
}
/* line 2504, ../sass/main.scss */
.footer-section li:hover a {
  color: #3499db;
  transition: all 450ms ease;
}
/* line 2510, ../sass/main.scss */
.footer-section.other-page {
  background-color: #1d1d1d;
  padding-top: 80px;
  margin-top: 0;
  color: #ffffff;
}
/* line 2518, ../sass/main.scss */
.footer-section.other-page ul li a {
  color: #ffffff;
  text-decoration: none;
}
/* line 2527, ../sass/main.scss */
.footer-section h3 {
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  /* line 2527, ../sass/main.scss */
  .footer-section h3 {
    background-color: #b1b1b1;
    padding: 25px 0px;
    color: #fff;
    padding-left: 15px;
    margin-bottom: 3px;
  }
}
/* line 2542, ../sass/main.scss */
.footer-section p.contact-us {
  line-height: 1.857;
}
/* line 2545, ../sass/main.scss */
.footer-section p.copy-right {
  color: #616161;
}
/* line 2548, ../sass/main.scss */
.footer-section p span {
  font-family: 'arial';
}
@media (max-width: 768px) {
  /* line 2541, ../sass/main.scss */
  .footer-section p {
    display: none;
  }
}
/* line 2557, ../sass/main.scss */
.footer-section div {
  padding-bottom: 30px;
}
/* line 2559, ../sass/main.scss */
.footer-section div.text-right {
  text-align: right;
}
@media (max-width: 768px) {
  /* line 2557, ../sass/main.scss */
  .footer-section div {
    padding-bottom: 0px;
  }
}
/* line 2568, ../sass/main.scss */
.footer-section .logo-footer {
  padding-bottom: 16px;
}
@media (max-width: 992px) {
  /* line 2568, ../sass/main.scss */
  .footer-section .logo-footer {
    text-align: left;
  }
}
@media (max-width: 768px) {
  /* line 2568, ../sass/main.scss */
  .footer-section .logo-footer {
    width: 44%;
    padding-bottom: 38px;
  }
}
/* line 2581, ../sass/main.scss */
.footer-section .qr-code {
  padding-top: 23px;
  width: 94px;
}
/* line 2586, ../sass/main.scss */
.footer-section .social-icon {
  display: inline-block;
  vertical-align: middle;
  right: 0;
}
/* line 2592, ../sass/main.scss */
.footer-section .social-icon li {
  display: inline-block;
}
/* line 2594, ../sass/main.scss */
.footer-section .social-icon li a {
  display: block;
  height: 33px;
  width: 33px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/icons/icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/icons.svg");
}
/* line 2603, ../sass/main.scss */
.footer-section .social-icon li a.icon-social-facebook {
  background-position: 0 0;
}
/* line 2606, ../sass/main.scss */
.footer-section .social-icon li a.icon-social-twitter {
  background-position: 0 -66px;
}
/* line 2609, ../sass/main.scss */
.footer-section .social-icon li a.icon-social-gplus {
  background-position: 0 -33px;
}
/* line 2614, ../sass/main.scss */
.footer-section .social-icon li + li {
  margin-left: 10px;
}
/* line 2620, ../sass/main.scss */
.footer-section ul li {
  line-height: 1.857;
}
/* line 2625, ../sass/main.scss */
.footer-section .subscribe {
  padding-top: 8px;
}
/* line 2627, ../sass/main.scss */
.footer-section .subscribe input {
  border: none;
  background-color: #ffffff;
  margin-bottom: 12px;
  margin-top: 5px;
  color: #000000;
  max-width: 152px;
  width: 100%;
  padding: 6px 8px;
}
/* line 2638, ../sass/main.scss */
.footer-section .subscribe::-webkit-input-placeholder {
  color: #EBEBEB;
}
/* line 2641, ../sass/main.scss */
.footer-section .subscribe::-ms-input-placeholder {
  color: #EBEBEB;
}
/* line 2644, ../sass/main.scss */
.footer-section .subscribe::-moz-placeholder {
  color: #EBEBEB;
}
/* line 2647, ../sass/main.scss */
.footer-section .subscribe button {
  background-color: #000000;
  border: none;
  display: inline-block;
  width: 100%;
  max-width: 75px;
  padding: 7px;
  color: #ffffff;
  cursor: pointer;
}
/* line 2657, ../sass/main.scss */
.footer-section .subscribe button:hover {
  background-color: #1364bd;
  transition: 450ms;
}
@media (max-width: 992px) {
  /* line 2468, ../sass/main.scss */
  .footer-section {
    padding-top: 20px;
    margin-top: 0;
    padding-left: 15px;
  }
}
