@import "compass/css3";
/* Commen Styles */

* {
	padding:0;
	margin:0;
	@include box-sizing(border-box);
}

%clearfix {
  &:before, &:after {
    content:" ";
    display:table;
  }

  &:after {
    clear:both;
  }

  & {
    *zoom:1;
  }
}

@font-face {
    font-family: 'tfarrow-medium';
    src: url('../../fonts/ufonts.com_tfarrow-medium/ufonts.com_tfarrow-medium.eot');
    src: url('../../fonts/ufonts.com_tfarrow-medium/ufonts.com_tfarrow-medium.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ufonts.com_tfarrow-medium/ufonts.com_tfarrow-medium.woff') format('woff'),
         url('../../fonts/ufonts.com_tfarrow-medium/ufonts.com_tfarrow-medium.ttf') format('truetype'),
         url('../../fonts/ufonts.com_tfarrow-medium/ufonts.com_tfarrow-medium.svg#roboto-regular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


@font-face {
    font-family: 'roboto-regular';
    src: url('../../fonts/roboto-regular/Roboto-Regular-webfont.eot');
    src: url('../../fonts/roboto-regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto-regular/Roboto-Regular-webfont.woff') format('woff'),
         url('../../fonts/roboto-regular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../../fonts/roboto-regular/Roboto-Regular-webfont.svg#roboto-regular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'roboto-bold';
    src: url('../../fonts/roboto-Bold/Roboto-Bold-webfont.eot');
    src: url('../../fonts/roboto-Bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto-Bold/Roboto-Bold-webfont.woff') format('woff'),
         url('../../fonts/roboto-Bold/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../../fonts/roboto-Bold/Roboto-Bold-webfont.svg#roboto-bold') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'diavlobook-regular';
    src: url('../../fonts/diavlobook-regular/DiavloBook-Regular.eot');
    src: url('../../fonts/diavlobook-regular/DiavloBook-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/diavlobook-regular/DiavloBook-Regular.woff') format('woff'),
         url('../../fonts/diavlobook-regular/DiavloBook-Regular.ttf') format('truetype'),
         url('../../fonts/diavlobook-regular/DiavloBook-Regular.svg#diavlobook-regular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'myriadpro-regular';
    src: url('../../fonts/myriadpro-regular/myriadpro-regular.eot');
    src: url('../../fonts/myriadpro-regular/myriadpro-regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/myriadpro-regular/myriadpro-regular.woff') format('woff'),
         url('../../fonts/myriadpro-regular/myriadpro-regular.ttf') format('truetype'),
         url('../../fonts/myriadpro-regular/myriadpro-regular.svg#myriadpro-regular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;


}


html,body {
  width:100%;
  //height:100%;
  font-size:15px;
  line-height: 1.25;
}


.container {
  max-width:1202px;
  margin:0 auto;
  padding:0 15px;
  position: relative;
  z-index: 2;
  @extend %clearfix;

  &.container-full {
    max-width: 100%;
  }


  @media (min-width:768px){
    max-width:960px;
  }

  @media (min-width:992px){
    max-width:960px;
  }

  @media (min-width:1200px){
    max-width:1202px;
  }

}


.row {
  @extend %clearfix;
  margin: 0 -15px;
}

[class*='col-'] {
    width: 100%;
    min-height: 1px; 
    float: left;
    position: relative;
    padding-left:15px;
    padding-right:15px;
} 


@for $i from 1 through 12 {
 
    .col-#{$i} { 
      width: 100% / 12 * $i;
    }
 
}


@media(max-width:992px) {

    @for $i from 1 through 12 {
     
        .col-tb-#{$i} { 
          width: 100% / 12 * $i;
        }
     
    }

}

@media(max-width:768px) {

    @for $i from 1 through 12 {
     
        .col-mb-#{$i} { 
          width: 100% / 12 * $i;
        }
     
    }

}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  height: 100vh;
}

.header-section {
  width: 100%;
  position: relative;
  z-index: 10000;

  .logo-header {
    background-color: #fff;
    height: 123px;
     @media (max-width:768px) {
           height: 68px;
     }
     @media (max-width:400px) {
           //height: 50px;
     }
    @extend %clearfix;

    .logo-cols {
      width: 100%;
      float: left;

      .logo {
        display: inline-block;
        padding: 15px 0 0 0;
         @media (max-width:768px) {

            padding: 10px 0 0;
         }
        img{
          width: 100%;

           @media (max-width:768px) {
            width: 64%;
          }
        }
      }
    }
    .contact-cols {
      width: 70%;
      float: right;
      text-align: right;
      margin-bottom: 20px;
      @media (max-width:1200px) {
        width: 100%;
      }
      @media (max-width:768px) {
        display: none;
      }

      ul {
        border-bottom: 1px solid #959595;
        padding: 13px 0px;
        width: 82%;
        float: right;
        li {
          display: inline-block;
          color: #347ba9;
          font-size: 20px;
          font-family: 'PT Sans', sans-serif;
          font-weight: 700;
          padding-left:24px;
          position: relative;
          margin-left: 15px;

           @media (max-width:768px) {

           display: inline;
          }

          strong{

            color: #00a8ff;
          }
          i.contact-icon {
            position: absolute;
            margin-top: -7px;
            top:50%;
            left: 0;
            height: 15px;
            width: 16px;
            background-image: url("../../img/icons/contact-icons.png");
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/contact-icons.svg");

            &.phone {
              background-position:0 -15px;
            }
            &.fax {
              background-position:0 0;
            }
          }
         i.socail{

          width:20px;
          height:17px;
          display: inline-block;
          background-image: url("../../img/icons/social-icons_h.png");
          margin-right: 20px;

          &.fb{

          background-position: 0 -18px;
          height: 18px;

          }

          &.google{

            background-position: 0 19px;
            height: 19px;
            width: 19px;
          }

         }
        }
      }
    }
  }

  .nav-header {

    width: 100%;
    display: block;
    float: right;
    @media (max-width:768px) {

           display: none;
    }

    .navigation {


      ul {
        text-align:right;
        line-height: 28px;
        li {
          display: inline-block;
          margin-right: 9px;
          position: relative;
          a {
            display: block;
            text-decoration: none;
            color: #000000;
            text-transform: uppercase;
            font-size: 16px;
            font-family: 'myriadpro-regular';
            @include transition(all 450ms ease);
             @media (max-width:883px) {
              font-size: 15px;
            }
          }

          &:hover {
            a {
              color: #3499db;
            }
            ul.submenu {
              display: block;
            }
          }

          &.active {

            a {
              color: #3499db;
              position: relative;

              @media (max-width:768px) {
                &:after{

                        content: "";
                        width: 3px;
                        height: 20px;
                        background-color: #939393;
                        display: block;
                        position: absolute;
                        right: -17px;
                        top: 5px;

                }
              }

            }
          }

          ul.submenu {
            position: absolute;
            display: none;
            top:100%;
            left: 0;
            line-height: initial;
            padding:5px 15px;
            background-color:#ffffff;
            @include box-shadow(rgba(0, 0, 0, 0.22) 0 0 16px);
            li {
              display: block;
              a {
                padding: 4px 16px;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }
}


//////////////////// ################################## //////////////////
// Start of the slider section

.cover-section{

    position: relative;

    .tp-rightarrow{

    background-image: url('../../img/slider/arrow-right.png') !important;
    background-image: linear-gradient(transparent, transparent),url('../../img/slider/arrow-right.svg') !important;
    right: 0px !important;
    width: 57px !important;
    }

    .tp-leftarrow{

    background-image: url('../../img/slider/arrow-left.png') !important;
    background-image: linear-gradient(transparent, transparent),url('../../img/slider/arrow-left.svg') !important;
    left: 0px !important;
    width: 57px !important;
    }

    .h1slider{

          font-family: 'tfarrow-medium';
          font-size: 48px;
          color: #181818;
          @media (max-width:768px) {
          
            font-size: 34px !important;
         }

          @media (max-width:1200px) {
            left:5% !important;
            font-size: 34px !important;

          }
          @media (max-width:400px) {

          text-align: center;
          top: 72%;
          position: absolute;
          margin: 0 auto;
          left: 0px !important;
          right: 0px !important;
          color: #181818;
        }
        

    }
    .sliderp{

          font-family: 'tfarrow-medium';
          font-size: 15px;
          white-space: normal !important;
          text-align: justify;
          width: 600px;
          color: #4c4c4c;

          @media (max-width:1200px) {
            left:5% !important;
            font-size: 15px !important;

          }
          @media (max-width:768px) {
          
            font-size: 15px !important;
            line-height: 1.3em !important;
         }
         @media (max-width:400px) {

           
            max-width: 300px;
            margin: 0 auto;
            top: 90%;
            position: absolute;
            margin: 0 auto;
            left: 0px !important;
            right: 0px !important;
            color: #4c4c4c;
        }
    }

   .buttonslider{

            width: 150px;
            background-color: #1376e3;
            padding: 15px 1px!important;
            color: #fff;
            text-align: center;
            overflow: hidden;
            transition: all 450ms ease;
            &:before{
              font-family: FontAwesome;
              content:"\f178";
              position: absolute;
              top: 17px;
              left: -22px;
              transition: all 450ms ease;
            }
            &:hover:before{
              left: 120px;
            }

            a{
            color: #fff;
            font-family: 'PT Sans',sans-serif;
            font-weight: 700;
            transition: 450ms;
            }

            @media (max-width:1200px) {
              left:5% !important;
              font-size: 15px !important;

            }
            @media (max-width:768px) {
            
              font-size: 15px !important;
              line-height: 1.3em !important;
              margin-top: 20px !important;
            }
            @media (max-width:600px) {

              margin-top: 30px !important;
              padding: 10px 1px!important;
            }
            @media (max-width:400px) {

                left:3% !important;
                margin-top: 33px !important;
                padding: 10px 1px!important;
            }




   }


}

// end of the slider section
.searchboxContainer{

    position: absolute;
    z-index: 100000;
    left: 0px;
    right: 0px;
    bottom: 0px;

}
.Searchbox{

    background:url('../../img/shape.png');
    width: 100%;
    height: 136px;
    background-repeat: no-repeat;
    position: relative;
    background-color: #fff;
    bottom: 27px;
    transition: all 300ms ease;


    @media (max-width:1200px) {
        background-position: -54px;
    }
    @media (max-width:928px) {
        background-position: -105px;
        bottom: 0px;
    }
    @media (max-width:768px) {
        display: none;
    }

    .buttonsubmit{

    position: absolute;
    right: 30px;
    bottom: 20px;

    }

    .form{

    margin-top: 25px;

    }
    .number{

    color: #fff;
    top: 25%;

    h1{

      font-family: 'PT Sans',sans-serif;
      font-weight: bold;
      letter-spacing: 0.03em;
      

    }
    p{

      font-family: 'myriadpro-regular';
      font-size: 29px;
      color: #fff;
      @media (max-width:928px) {
         font-size: 21px;
      }

    }

      span{

        color: #7eff00;
         @media (max-width:928px) {
         font-size: 21px;
        }

      }
    }

    h1{

      margin:0px;
      padding: 0px;
      font-size: 21px;
      font-family: 'PT Sans',sans-serif;
      font-weight: bold;
       @media (max-width:928px) {
        font-size: 19px;
      }
    }
    input:focus{

      outline: none;
    }

    .button{

    padding: 10px 30px;
    background-color: #fbb000;
    border: 0px;
    color: #fff;
    font-family: 'PT Sans',sans-serif;
    margin-left: 16px;

    &:hover{

      background-color: #d6990a;
    }

    @media (max-width:928px) {
        margin-left: 0px;
    }

    @media (max-width:1200px) {
        padding: 10px 10px;
    }

    }

    input[type=text]{

    height: 35px;
    width: 260px;
    border: 1px solid #b2d3ff;
    font-size: 14px;
    font-family: 'myriadpro-regular';
    margin-bottom: 20px;
    padding-left: 5px;

    @media (max-width:1200px) {
      width: 100%;
    }

    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #aad3f0;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #aad3f0;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #aad3f0;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #aad3f0;
    }

}

.body-section {
  padding:0 15px;

  .row-category {
    background-color:#872848;
    padding:30px 0;
  }

  h1 {
    font-size: 27px;
    color: #002473;
    font-family: tfarrow-medium;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    margin: 52px 0px 43px 0px;

    @media (max-width:400px) {

    margin: 133px 0px 43px 0px;

    }


  }

  span {

    font-size: 16px;
    display: block;
    letter-spacing: 0.09em;  }

  .containt-wrap {
    &.center-wrap {
      text-align:center;
    }
  }

  .secondcolor{
    background-color: #ededed !important;
  }

  .category-box {
    width: calc((100%)/ 4);
    float: left;
    position: relative;
    height: 312px;
    background-color: #f5f5f5;

    @media (max-width:1000px) {
      width: 100%;
    }
    @media (max-width:768px) {
      
    margin-bottom:15px;

    }
    .category-inner {
      position: relative;
      z-index: 10;
    }

    h3 {

      font-family: 'PT Sans',sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: #3d5d80;
      text-align: center;
      max-width: 80%;
      padding: 0;
      margin: 0 auto;
      height: 30px;
    }
    p {

      font-family: myriadpro-regular;
      max-width: 85%;
      font-size: 15px;
      color: #3d5d80;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 25px;
      margin-top: 15px;

    }

    a {

      width: 165px;
      height: 38px;
      display: block;
      background-color: #1376e3;
      color: #fff;
      font-family: 'PT Sans',sans-serif;
      font-weight: 700;
      text-align: center;
      line-height: 2.6em;
      text-decoration: none;
      margin: 0 auto;
      transition: all 300ms ease;


      &:after{
        width: 100%;
        height: 40%;
        left: 0;
        top: 100%;
        background: #49a7df;
        -webkit-transform-origin: 0% 0%;
        -webkit-transform: rotateX(-90deg);
        -moz-transform-origin: 0% 0%;
        -moz-transform: rotateX(-90deg);
        -ms-transform-origin: 0% 0%;
        -ms-transform: rotateX(-90deg);
        transform-origin: 0% 0%;
        transform: rotateX(-90deg);
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        
      }

      &:hover{
          background-color: #1364bd;
          // -webkit-transform: rotateX(15deg);
          // -moz-transform: rotateX(15deg);
          // -ms-transform: rotateX(15deg);
          // transform: rotateX(15deg);

        }
    }

    img {

    margin: 0 auto;
    display: block;
    padding: 26px 0px;

    }
  }

  .partners{

    margin:0px;
    padding: 0px;
    list-style: none;

    li{

    width: 20%;
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
    margin-bottom: 35px;

    @media (max-width:900px) {
      width: 25%;
    }
    @media (max-width:724px) {
      width: 33%;
    }
    @media (max-width:600px) {
      width: 50%;
    }

      img{

      }
    }
  }
   
}

.navigation_mobile{

   .mobile-btn {
        bottom: 0;
        padding: 9px 6px;
        text-align: center;
        display: block;
        top: 24px;
        left: 62%;
        position: relative;
        span {
          position: absolute;
          display: block;
          width: 22px;
          height: 3px;
          margin-left: -10px;
          margin-top: -1px;
          left: 50%;
          background-color:#ff0013;
          top: initial;
          bottom:initial;
          transition: all 300ms ease;
          &.top {
            top:11px;
          }
          &.middle {
           
            top:17px;
            
            //left:50%;
          }
          &.bottom {
            bottom:11px;
          }
        }

        &.open {
          span {
            &.top {
              top:15px;
              @include transform(rotate(45deg));
            }
            &.middle {
              opacity: 0
            }
            &.bottom {
              bottom:15px;
              @include transform(rotate(-45deg));
              top: 15px;
            } 
          }
        }
      }


}

.open-nav{
  padding-right: 20px;
  display: block !important;
  position: fixed;
  left: 0;
  top: 65px;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
  line-height: 3;
  text-align: center;

  .navigation {
    border-right: 1px solid #e1e1e1;
    padding-right: 15px;

    ul {

        padding-top: 85px;

      li{
      display: inline !important;
      a{
        font-size: 23px !important;
      }
    }
  }
}


}

.mobile_slider{

  display: none;

  @media (max-width:400px) {
      display: block;
  }

  .make_inqury{

    width: 214px;
    height: 48px;
    background-color: #3d5d80;
    display: block;
    position: ABSOLUTE;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
    line-height: 2.3em;
    color: #fff;
    text-decoration: none;
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 25px;
  }


}
.hide{

  @media (max-width:768px) {
      display: none;
  }

}
.no_mobile{

   @media (max-width:768px) {
      display: none;
  }

}
.view_moblie{

  display: none;

   @media (max-width:768px) {
      display: block;
  }

  p{

    @media (max-width:768px) {
      display: block !important;
      padding-right: 15px;
      padding-bottom: 18px;
  }

  }

}

.tp-banner-container{

  @media (max-width:400px) {
      display: none;
  }
}

  .map-section{
    height: 471px;
    width: 100%;
    padding-bottom: 86px;
    .google-map{
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .business-cover-img{
    height: 468px;
    margin-bottom: 50px;
    .business-cover{
      background-image: url('../../img/business/bg-business.jpg');
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .partner-cover{
      background-image: url('../../img/business/bg-partners.jpg');
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    @media (max-width: 360px){
      margin-bottom: -130px;
      .business-cover{
        background-image: url('../../img/business/business.jpg');    
      }
      .partner-cover{
        background-image: url('../../img/business/partners.jpg');  
      }
    }
  }

/* ################################### */

          /* Cover section */

/* ################################## */

   .cover-section{
    &.other-section {
        max-height: 467px;
        height: 100%;
        position: relative;

        .about-section{
          background-image: url('../../img/about/slider.jpg');
          width: 100%;
          padding: 16% 0 1% 0; 
          height: 100%;
          &.products-section {
            background-image: url('../../img/products/slider.jpg');
          }
        }

        h1{
          font-size: 48px;
          font-family: 'tfarrow-medium';
          font-weight: 100;
        }
        p{
          font-size: 18px;
          font-family: 'tfarrow-medium';
          color: #4c4c4c;
          line-height: 1.4;
        }

        @media (max-width: 992px){
            max-height: 400px;
            .about-section{
              background-position: 35% 0;
            }
        }

        @media (max-width: 768px){
          .about-section{
            h1{
              font-size: 34px;
              text-align: center;
            }
            p{
              text-align: center;
            }
          }
        }

        @media (max-width: 360px){
          .about-section{
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-image: url('../../img/about/company.jpg');
            padding-top: 260px;
              h1{
                font-size: 28px;
              }
              p{
                font-size: 13px;
              }
            &.products-section{
              background-image: url('../../img/products/product.jpg');
            }
          }
        }
      }
    }


/*###################################*/

  /* Body section "Contact Us" */

/*##################################*/

  .body-section{
    padding-top: 15px;
    .row {
      margin-bottom: 80px;
      &.conact-info-row {
        background-color: #f8f8f8;
      }
      @media (max-width: 360px){
        .row{
          margin-bottom: 0px; 
        }
      }
    }
      
    .container-wrap {
      &.center {
        text-align: center;
      }
      h1 {
        margin: 20px 0; 
      }
       p {
          font-family: 'tfarrow-medium';
          font-size: 15px;
       }
    }
    .contact-info{
      padding: 35px 0;
      .contact-details{
        display: inline-block;
        width: 16.67%;
        margin-right: -4px;

        position: relative;
        font-family: 'myriadpro-regular';
        vertical-align: top;        
        &.address{
          width: 50%;
        }
        .details-wrap {
          display: inline-block;
          padding-left: 35px;
          position: relative;
          &.wrap-center{
            text-align: left;
          }
        }

        .icon-contact{
          width: 28px;
          height: 28px;
          position: absolute;
          left: 0px;
          top: 0px;
          background-image: url('../../img/icons/all-contact.png');
          background-image: linear-gradient(transparent, transparent),url('../../img/icons/all-contact.svg');
          &.icon-address{
            background-position: 0 0;
          }
          &.icon-telephone{
            background-position: 0 -26px;
          }
          &.icon-fax{
            background-position: 0 -49px;
          }
          &.icon-email{
            background-position: 0 -72px;
          }
        }
        .contact-font{
          font-size: 18px;
          color: #bebebe;
          font-family: 'myriadpro-regular';
        }
      }

      @media (max-width: 992px) {
        .contact-details{
          width: 33.33%;
          text-align: center;
          &.address{
            width: 100%;
            margin-bottom: 20px;
            text-align: center;
          }
        }
      }

      @media(max-width: 768px){
         .contact-details{
          width: 100%;
          margin-bottom: 20px;
          &.address{
            width: 100%;
          }
        }
      }

      @media(max-width: 360px){
        .contact-details{
          text-align: left;
        }
      }

      @media(max-width: 320px){
        .contact-details{
          text-align: left;
        }
      }

    }

/*######################################*/

    /* Body section "Working hours" */

/*######################################*/

    .working-hours{
      max-width: 864px;
      margin: 0 auto;
      padding-top: 52px;
      .days{
        display: inline-block;
        margin-right: -4px;
        width: 33.33%;
        padding: 50px 15px;
        background-color: #f5f5f5;
        &.days-dark{
          background-color: #ededed;
        }
        h3{
          font-family: 'myriadpro-regular';
          font-size: 24px;
          color: #3d5d80;
        }
        p{
          font-family: 'myriadpro-regular';
          font-size: 21px;
          color: #3d5d80;
          margin-top: 18px;
        }
      }

      @media (max-width: 992px){
        .days{
          padding: 38px 15px;
          h3{
            font-size: 18px;
          }
          p{
            font-size: 15px;
          }
        }
      } 

      @media(max-width: 768px){
        .days{
          width: 100%;
        }
      }
    }

    .from-section{
      max-width: 573px;
      margin: 0 auto;
      padding-top: 52px;
      .form-inputs{
        margin-bottom: 22px;
        input,textarea{
          width: 100%;
          font-size: 15px;
          font-family: 'myriadpro-regular';
          padding: 13px 15px;
          border: 1px #dbdbdb solid;
        }
        textarea{
          height: 200px;
        }
        &.button-right{
          width: 170px;
          height: 40px;
          .form-submit{
              @include background(linear-gradient(180deg, #ffb400 0, #eaa000 100%));
              font-size: 16px;
              color: #fff;
              font-family: 'myriadpro-regular';
          }
        }

/*
        .form-submit{
          width: 166px;
          height: 48px;
          padding: 11px 11px;
          display: inline-block;
          @include background(linear-gradient(180deg, #feb300 0, #eaa000 100%));
          font-weight: bold;

          position: relative;
          margin: 0 10px;
          cursor: pointer;
          /*
          box-shadow: inset 0 0 0 2px #1376e3;
          -webkit-transition: background 450ms 450ms;
          transition: background 450ms 450ms; 
          
            &:hover{
              -webkit-transition-delay: 0s;
              transition-delay: 0s;
              transition: 450px;
            }

             p{
                font-family: 'myriadpro-regular';
                text-align: center;
                font-size: 16px;
                color: #ffffff;
            }

             svg {
              position: absolute;
              top: 0;
              left: 0;
            }

             svg line {
              stroke-width: 5px;
              stroke: #fff;
              fill: none;
              -webkit-transition: all 2s ease-in-out;
              transition: all 2s ease-in-out;
            }

            &:hover svg line {
              -webkit-transition-delay: 0.1s;
              transition-delay: 0.1s;
            }

             svg line.top,
             svg line.bottom {
              stroke-dasharray: 166 166; 
            }

             svg line.left,
             svg line.right {
              stroke-dasharray: 48 48;
            }

            &:hover svg line.top {
              -webkit-transform: translateX(-332px);
              transform: translateX(-332px);
            }

            &:hover svg line.bottom {
              -webkit-transform: translateX(332px);
              transform: translateX(332px);
            }

            &:hover svg line.left {
              -webkit-transform: translateY(96px);
              transform: translateY(96px);
            }

            &:hover svg line.right {
              -webkit-transform: translateY(-96px);
              transform: translateY(-96px);
            }       
    

        } */
      }
    }

/*####################################*/
  
  /* tab section  in about */

/*###################################*/

    .tab{
      .tab-section{
          list-style-type: none;
          border-bottom: 1px solid #ccc;

          li{
            display: inline-block;

            a{
              display: block;
              color: #a3a3a3;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 27px;
              font-family: 'tfarrow-medium';
              position: relative;
              &:after{
                display: none;
                content: "";
                width: 100%;
                height: 2px;
                background-color: #3ecbf1;
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }

            &.active{
              a{
                color: #002473;
                &:after{
                display: block;
              }
              }
            }
            &:hover{
              a{
                color: #3499db;
                transition: 450ms;
              }
            }
          }
        
      }
      .tab-content{

          .content{
            @extend %clearfix;
            border-bottom: 1px #d7d7d7 solid;
            padding-bottom: 75px;
            display: none;
            &.veiw-element{
              display: block;
            }
            .image-wrap{
              margin: 53px 0;
              img{
                width: 479px;
               
              }
            }
            .image-para{

              p{
                text-align: left;
                padding-top: 71px;
              }
            }
          }
      }

      @media (max-width: 1200px){
          .image-wrap{

            img{
              max-width: 100%;
            }

          }
       }

       @media (max-width: 768px){
          .tab-section{
            li{
              a{
                &.tablink{
                  font-size: 24px;
                }
              }
            }
          }
       }

       @media (max-width: 400px){
          .tab-section{
            li{
              a{
                &.tablink{
                  font-size: 20px;
                }
              }
            }
          }
       }

       @media (max-width: 360px){
          .tab-section{
            li{
              a{
                &.tablink{
                  font-size: 18px;
                }
              }
            }
          }
       }

       @media (max-width: 320px){
          .tab-section{
            li{
              a{
                &.tablink{
                  font-size: 16px;
                }
              }
            }
          }
       }


    }

    .value-wrap{
      .icon-values{
        display: inline-block;
        margin-right: -4px;
        width: 33.33%;
        padding-left: 100px;
        position: relative;
        margin-bottom: 46px;
        // background-image: url('../../img/icons/all-about.png');
        // background-image: linear-gradient(transparent, transparent),url('../../img/icons/all-about.png');
        .icon-details{
          width: 40px;
          height: 45px;
          background-image: url('../../img/icons/all-about.png');
          background-image: linear-gradient(transparent, transparent),url('../../img/icons/all.svg');
          position: absolute;
          left: 44px;
          top: 0px;
          &.icon1{
            background-position: 0 0px;
          }
          &.icon2{
            background-position: 0 -47px;
          }
          &.icon3{
            background-position: 0 -96px;
          }
          &.icon4{
            background-position: 0 -142px;
          }
          &.icon5{
            background-position: 0 -188px;
          }
          &.icon6{
            background-position: 0 -229px;
          }
        }
        .icon-font{
          font-size: 15px;
          font-weight: bold;
          font-family: 'tfarrow-medium';
        }
        p{
          font-size: 15px;
          text-align: left;
          font-family: 'tfarrow-medium';
        }
      }

      @media (max-width: 768px){
          .icon-values{
            width: 100%;
            padding-left: 74px;
            .icon-details{
              left: 12px;
            }
          }
      }

      @media (max-width: 360px){
        .icon-values{
          padding-left: 0px;
          padding-top: 60px;
          .icon-details{
            left: 0px;
          }
        }
      }

    }

/* ################################# */
      /* Products filter */
/* ################################# */


    .filter-products{
      background-color: #dedede;
      .filter-heading{
        width: 100%;
        height: 80px;
        background-color: #c0c0c0;
        span{
          font-size: 20px;
          font-family: 'myriadpro-regular';
          color: #ffffff;
          padding: 26px 0 29px 21px;
        }

      }
      .filter-cat{
        padding-bottom: 10px;
        span{
          font-size: 18px;
          font-family: 'myriadpro-regular';
          padding: 34px 0 22px 21px;
        }
        ul{
          list-style-type: none;
          padding-left: 36px;
          li {
            margin-bottom: 5px;
            letter-spacing: 0.5px;
          }
          a{
            text-decoration: none;
            font-family: 'myriadpro-regular';
            font-size: 15px;
            color: #000000;
            transition: 450ms;
            &:hover{
              color: #1376e3;  
            }
          }
        }
      }

      @media (max-width: 768px){
          .filter-cat {
            display: none;
            .filter-name{
              padding: 10px 0 20px 12px;
            }

            .myclass {
              display: none;
            }
            ul{
              padding-left: 24px;
              li{
                padding-top: 15px;
                padding-bottom: 15px;
                font-size: 18px;
              }
            }
          }
      }

    }

/* ################################# */
      /* Products images and names */
/* ################################# */

    .products-all{
      @extend %clearfix;
      .products{
        width: 33.33%;
        float: left; 
        padding: 15px;
        position: relative;
          img{
            width: 100%;
          }

          .overlay {
            text-align: center;
            opacity: 0.80;
            transition: 450ms;
            a{
              text-decoration: none;
              font-family: 'myriadpro-regular';
              font-size: 18px;
              text-transform: uppercase;
              color: #fff;
              display: block;
              padding: 72% 0;
            }
            display: none;
            position: absolute;
            /* width: 100%; */
            /* height: 100%; */
            left: 15px;
            right: 15px;
            bottom: 15px;
            top: 15px;
            z-index: 10;
            background-color: #4067a9;
          }
        .product-inner{
          border: 1px #d2d2d2 solid;
          min-height: 367px;
          padding: 5px;
          text-align: center;
          transition: 450ms;
          .names{
            a{
              text-decoration: none;
              color: #000000;
              font-family: 'myriadpro-regular';
              font-size: 15px;
              font-weight: 600;
              letter-spacing: 0.8px;
            }
          }
        }

        &:hover {
          .overlay {
            display: block;
          }
        }
        
      }

      @media (max-width: 1200px){
        .products{
            img{
              width: 100%;
              display: block;
            }
        }
      }

      @media (max-width: 992px){
        .products{
          width: 50%;
            img{
              width: 100%;
              display: block;
            }
          .names{
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-bottom: 30px;
          }
        }
      }

      @media (max-width: 768px){
        .products{
          width: 100%;
            img{
              width: 100%;
              display: block;
            }
          .product-inner{
            position: relative;
          }

        }
      }

    }

/* ################################### 
######        Page list           ########
    ################################# */

    .page-list{
      text-align: right;
      width: 100%;
      float: right;
      a{
        text-decoration: none;
        font-family: 'myriadpro-regular';
        font-weight: 600;
        color: #949494;
        font-size: 15px;
        padding-right: 10px;
        padding-left: 10px;
        
        &.active{
          color: #002473;
        }
      }
      a:hover{
        color: #002473;
        transition: 450ms; 
      }


    @media (max-width: 768px){
      text-align: center;
      a{
        padding-right: 8px;
        padding-left: 8px;
      }
    }

    @media (max-width: 360px){
      a{
        padding-left: 2px;
      }
    } 

    @media (max-width: 320px){
      padding-right: 22px;
      a{
        font-size: 14px;
        padding-left: 3px;
      }
    }

    }

/* ##################### */
    /* Details body */
/* ##################### */

    .hidden-head{
      display: none;
      h1{
        text-align: left;
        font-size: 30px;
        font-family: 'tfarrow-medium';
        text-align: center;
      }

      @media (max-width: 768px){
        display: block;
      }

      @media (max-width: 360px){
        h1{
          margin: 40px 0 43px;
        }
      }
    }

    .details-wrap{
      display: flex;
      a{
        text-decoration: none;
      }
      .img-sub{
        display: block;
        img{
          width: 117px;
          height: 117px;
          border: 1px solid #d2d2d2;
        }

        .detail-img{
          padding-bottom: 14px;
          position: relative;
          .overlay{
            opacity: 0.80;
            transition: 450ms;
            display: none;
            position: absolute;
            width: 100%; 
            height: 86%;
            z-index: 10;
            background-color: #4067a9;
          }
          &:hover{
          .overlay{
            display: block;
          }
        }
        }
        

      }
      .img-main{
        width: 450px; 
        height: 522px;
        border: 1px solid #d2d2d2;
        margin-left: 10px;
        img{
          width: 100%;
        }
      }

      @media (max-width: 768px){
          .img-sub{
            display: none;
          }
        .img-main{
          margin: auto;
          margin-bottom: 54px;
          img{
            width: 90%;
          }
        }
      }

      @media (max-width: 360px) {
        .img-main{
          height: 403px;
        }
      }

    }

    .details-para{
      .description{
        padding-bottom: 40px;
        h1{
          text-align: left;
          font-size: 30px;
          font-family: 'tfarrow-medium';
        }
        p{
          font-size: 16px;
          font-family: 'myriadpro-regular';
        }
      }

      .video-wrap{
        //background-color: #dedede;
        float: none;
        display: inline-block;
        width: 49%;
        .video-inner {
          width:226px;
          position: relative;

          .play-btn {
            top:0;
            left:0;
            width:84px;
            height: 84px;
            position: absolute;
            z-index: 1000;
            background-image: url('../../img/details/playpause.png');
            cursor: pointer;
            transition: 450ms transform ease;
            margin: 23px 0 0 71px;

            &.btn-effect {
              transform:scale(0.5);
              background-position: 0 85px;
              margin: 58px 0 0 156px;
            }
            &:hover{
              transform: scale(1.1);
                &.btn-effect {
                  transform:scale(0.6);
                }
            }
          }
        }
        video{
          width: 100%;
          vertical-align: bottom;
          //height: 138px;
        } 
      }
      .button-wrap{
        //background-color: #dedede;
        float: none;
        display: inline-block;
        vertical-align: bottom;
        ///position: absolute;
        //padding-top: 128px;
        //padding-left: 300px;
        .dwnload-btn{ 
          text-align:0 left;
         /* font-size: 18px; */
          border-radius: 3px;
          background-color: #003a92;
          width: 236px;
          height: 52px;
          border: none;
          text-align: center;

          position: relative;
          margin: 0 10px;
          cursor: pointer;
          color: #2c3e50;
          -webkit-transition: background 450ms 450ms;
          transition: background 450ms 450ms;
          
          &:hover{
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            transition: 450px;
          }

           p{
              font-family: 'myriadpro-regular';
              text-align: center;
              font-size: 15px;
              color: #ffffff;
          }

           svg {
            position: absolute;
            top: 0;
            left: 0;
          }

           svg line {
            stroke-width: 5px;
            stroke: #3499db;
            fill: none;
            -webkit-transition: all 2s ease-in-out;
            transition: all 2s ease-in-out;
          }

          &:hover svg line {
            -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
          }

           svg line.top,
           svg line.bottom {
            stroke-dasharray: 236 236; 
          }

           svg line.left,
           svg line.right {
            stroke-dasharray: 52 52;
          }

          &:hover svg line.top {
            -webkit-transform: translateX(-472px);
            transform: translateX(-472px);
          }

          &:hover svg line.bottom {
            -webkit-transform: translateX(472px);
            transform: translateX(472px);
          }

          &:hover svg line.left {
            -webkit-transform: translateY(104px);
            transform: translateY(104px);
          }

          &:hover svg line.right {
            -webkit-transform: translateY(-104wpx);
            transform: translateY(-104px);
          }

        }
      }

      @media (max-width: 992px){
        .description{
          p{
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical; 
          }
        }
        .button-wrap{
          .dwnload-btn{
            width: 188px;
            .btn-grid{
              .hide-svg{
                display: none;
              }
            }
          }
        }
      }

      @media (max-width: 768px){
        .description{
          h1{
            display: none;
          }
        }
        .video-wrap{
          display: block;
          margin: 0 auto;
          margin-bottom: 48px;
          .video-inner{
            width: 178px;
            display: block;
            margin: auto;
            .play-btn{
              margin: 9px 0 0 44px;

              &.btn-effect{
                margin: 33px 0 0 110px;
              }
            }
          }
        }

        .button-wrap{
          display: block;
          margin: auto;
            .dwnload-btn{
              display: block;
              margin: 0 auto;             
            }
        }
      }

      @media (max-width: 600px){
        .video-wrap{
          display: inline;
        }
      }

    }


/* ###################################
######      Related products       #######
   ################################# */

    .related-head{
      h1{
        border-bottom: 1px solid #d7d7d7;
        text-align: left;
        font-size: 27px;
        font-family: 'tfarrow-medium';
      }

      @media (max-width: 768px){
        h1{
          text-align: center;
        }
      }
    }

    .related-products{
      @extend %clearfix;
      padding-left: 0px;
      .related-wrap{
        width: 25%;
        float: left; 
        padding: 15px;
        position: relative;
          img{
            width: 100%;
          }

          .overlay{
            text-align: center;
            opacity: 0.80;
            transition: 450ms;
            position: absolute;

            .svg-wrapper {
              height: 367px;
              margin: 0 auto;
              position: relative;
            /*  top: 50%;
              transform: translateY(-50%); */
              width: 255px;
              svg{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: -1;
              }
            }

            .shape {
              fill: transparent;
              stroke-dasharray: 1 622;
              stroke-dashoffset: 0;
              stroke-width: 5px;
              stroke: #002473;
            }

            .text{
              position: relative;
              text-decoration: none;
              font-family: 'myriadpro-regular';
              font-size: 18px;
              text-transform: uppercase;
              color: #fff;
              display: block;
              padding: 72% 0;
            }

            @keyframes draw {
              0% {
                stroke-dasharray: 255 622;
                stroke-dashoffset: 0;
                stroke-width: 8px;
              }
              100% {
                stroke-dasharray: 1244;
                stroke-dashoffset: 0;
                stroke-width: 8px;
              }
            }

            .svg-wrapper:hover .shape {
              -webkit-animation: 2s draw linear forwards;
              animation: 2s draw linear forwards;
            }


/*
            .text{
              position: 
              text-decoration: none;
              font-family: 'myriadpro-regular';
              font-size: 18px;
              text-transform: uppercase;
              color: #fff;
              display: block;
              padding: 72% 0;
            }
            */
            display: none;
            position: absolute;
            /* width: 100%; */
            /* height: 100%; */
            left: 15px;
            right: 15px;
            bottom: 15px;
            top: 15px;
            z-index: 10;
            background-color: #4067a9;
          }

        .related-inner{
          border: 1px #d2d2d2 solid;
          min-height: 367px;
          text-align: center;
          .names{
            a{
              text-decoration: none;
              color: #000000;
              font-size: 15px;
              font-family: 'myriadpro-regular';
              font-weight: 600;
              letter-spacing: 0.8px;
            }
          }
        }

          &:hover{
            .overlay{
              display: block;
            }
          }


      }

      @media (max-width: 922px){
        .related-wrap{
          .overlay{
            .svg-wrapper{
              svg{
                display: none;
              }
            }
          }
          .names{
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-bottom: 70px;
          }
        }
      }

      @media (max-width: 768px){
        .related-wrap{
          width: 100%;
        }
      }

    }
    

    .business-head-section{
      .business-head{
        h1{
          font-size: 48px;
          font-family: 'tfarrow-medium';
          color: #181818;
          text-align: left;
          margin-left: 110px;
          text-transform: capitalize;

          span{
            font-size: 48px;
            font-family: 'tfarrow-medium';
            color: #181818;
            text-transform: capitalize;
            display: block;
          }

          &:after{
            content:" ";
            display: block;
            border-bottom: 3px solid #00348c;
            width: 82px;
            margin-top: 35px;
          } 
        }

      }
      @media (max-width: 768px){
        .business-head{
          h1{
            margin-left: 0;
            text-align: center;
            span{
              display: inline-block;
            }
            &:after{
              display: none;
            }
          }
        }
      }
    }

    .business-description-section{
      border-left: 1px solid #d7d7d7;
      .business-description{
        .business-topic{
          h2{
            font-size: 22px;
            font-family: 'tfarrow-medium';
            color: #000;
            margin-bottom: 24px;
          }
        }
        .topic-description{
          p{
            font-size: 15px;
            font-family: 'tfarrow-medium';
            color: #000;
            margin-bottom: 24px;
            line-height: 1.3;
            letter-spacing: 1.2px;
          }
        }
      }
      
      .partner-section{
        li{
          width: 25%;
          display: inline-block;
          margin-right: -4px;
          vertical-align: middle;
          margin-bottom: 35px;
          position: relative;
          min-height: 96px;
          img {
            width: 100%;
          }
          .partner-overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            text-align: center;
            opacity: 0.80;
            transition: 400ms;
            display: none;
            position: absolute;
            z-index: 10;
            background-color: #0d3e92;
            padding-top: 27px;

            a{
              text-decoration: none;
              color: #fff;
              font-family: 'myriadpro-regular';
              font-size: 20px;
              font-weight: 600;
              letter-spacing: 0.8px;
              text-transform: uppercase;
            }
          }

          &:hover{
            .partner-overlay{
              display: block;
            }  
          }

        }
      }

      @media (max-width: 768px){
        .business-description{
          .business-topic{
            h2{
              text-align: center;
            }
          }
          .topic-description{
            p{
              font-size: 15px;
            }
          }
        }
        .partner-section{
          li{
            margin-bottom: 0;
          }
        }
      }

      @media (max-width: 360px){
        .partner-section{
          li{
            width: 50%;
          }
        }
      }
    }

  }

.footer-section {
  font-family: 'myriadpro-regular';
  font-size: 14px;
  background-color:#dfdfdf;//#ACACAC
  padding: 0 15px;
  padding-top: 83px;

   @media (max-width:768px) {
      .col-mb-12{

        padding: 0px !important;

      }
  }

  .footer_top_mobile{

      @media (max-width:768px) {

        padding: 0px 15px;

      }

  }
  .container {
    padding:0;
  }

  li{

  list-style: none;
  a {
    color:#000;
    text-decoration: none;
    }
    &:hover{
      a{
        color: #3499db;
        transition: all 450ms ease;
      }
    }
  }
  &.other-page {
    background-color:#1d1d1d;
    padding-top:80px;
    margin-top: 0;
    color: #ffffff;

    ul {
      li {
        a {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }


  h3 {
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media (max-width:768px) {
          background-color: #b1b1b1;
          padding: 25px 0px;
          color: #fff;
          padding-left: 15px;
          margin-bottom: 3px;
     }
  }

  p{
    &.contact-us {
      line-height: 1.857;
    }
    &.copy-right {
      color: #616161;
    }
    span {
      font-family: 'arial';
    }

     @media (max-width:768px) {
      display: none;
     }
  }

  div {
    padding-bottom:30px;
    &.text-right {
      text-align: right;
    }
    @media (max-width:768px) {
      
       padding-bottom:0px;
    }
  }

  .logo-footer {
    padding-bottom:16px;

    @media (max-width:992px) {
      text-align: left;
    }
    @media (max-width:768px) {
      width: 44%;
      padding-bottom: 38px;
    }

  }

  .qr-code {
    padding-top:23px;
    width: 94px;
  }

  .social-icon {
    // padding-top:30px;
    display: inline-block;
    vertical-align: middle;
    right: 0;
    //padding-bottom:22px;
    li {
      display: inline-block;
      a {
        display: block;
        height: 33px;
        width: 33px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: url("../img/icons/icons.png");
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/icons.svg");

        &.icon-social-facebook {
          background-position: 0 0;
        }
        &.icon-social-twitter {
          background-position: 0 -66px;
        }
        &.icon-social-gplus {
          background-position: 0 -33px;
        }
      }
    }
    li + li {
      margin-left: 10px;
    }
  }

  ul {
    li {
      line-height: 1.857;
    }
  }

  .subscribe {
    padding-top:8px;
    input {
      border:none;
      background-color: #ffffff;
      margin-bottom: 12px;
      margin-top: 5px;
      color: #000000;
      max-width: 152px;
      width: 100%;
      padding: 6px 8px;
    }

    &::-webkit-input-placeholder {
      color: #EBEBEB;
    }
    &::-ms-input-placeholder {
      color: #EBEBEB;
    }
    &::-moz-placeholder {
      color: #EBEBEB;
    }
    button {
      background-color:#000000;
      border:none;
      display: inline-block;
      width: 100%;
      max-width: 75px;
      padding: 7px;
      color: #ffffff;
      cursor: pointer;

      &:hover{
        background-color: #1364bd;
        transition: 450ms;
      }
    }
  }

@media (max-width:1200px) {

}

@media (max-width:992px) {

}

@media (max-width:992px) {
  padding-top:20px;
  margin-top: 0;
  padding-left: 15px;
}



}
